/*
 * Masterpage Inteligo
 * @author mfyance
 */


@import url("../../../templates/design-init.css");
@import url("../../../templates/design-token.css");
@import url("../../../templates/design-font.css");
@import url("../../../templates/design-grid.css");
@import url("../../../templates/design-system.css");
@import url("../../../templates/design-snippet.css");


html{
    height: 100vh;
    overflow: hidden;
}

body{
    background: var(--color-gray-light);
    height: 100vh;
    overflow: hidden;
}

.is-hidden{
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

max-layout{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}


.inteligo-backdrop.open{
    z-index: 10;
    display: block;
}
.inteligo-backdrop{
    content: '';
    background: #00000085;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    overflow: hidden;
}




.clic-material{
 
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}



.clic_ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
    -webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}


/*Scroll Main*/
* {
    scrollbar-width: none;
    scrollbar-color: #8a8a8a #ffffff;
}

*::-webkit-scrollbar {
    width: 8px;
    display: none;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #8a8a8a;
    border-radius: 0px;
    border: 0px none #ffffff;
}



/*Mobile*/
@media screen and (max-width: 1279px) {
    html{
        height: auto;
        overflow: inherit;
    }

    body{
        height: auto;
        overflow: inherit;
    }
        
}