    <div id="inteligoPopupMobile" class="inteligo-popup-mobile open">
        <div class="tour-intro-popup" id="introStep1">
            <div class="tour-intro-gallery first-page-intro">
                <div class="first-page-intro-top">Omitir</div>
                <div class="first-page-intro-bottom">
                    <div class="first-page-intro-head">Una nueva <b>Vista de Inicio</b> para <span>analizar su patrimonio</span></div>
                    <div class="first-page-intro-descp">Renovamos su vista de inicio y en esta breve guía lo acompañaremos paso a paso para
                        mostrarle cómo llegar cada sección.</div>
                </div>
            </div>
            <div class="tour-intro-description first-page-intro">
                <div class="item-desc">
                    <div class="item-desc-icon">1</div>
                    <div class="item-desc-text">Menú resumen</div>
                </div>
                <div class="item-desc">
                    <div class="item-desc-icon">2</div>
                    <div class="item-desc-text">Mi patrimonio</div>
                </div>
                <div class="item-desc">
                    <div class="item-desc-icon">3</div>
                    <div class="item-desc-text">Análisis de portafolio</div>
                </div>
                <div class="button-discover">
                    <button class="button-popup button-primary discover-trigger-button">Descubra su nueva vista</button>
                </div>
            </div>
            <div class="tour-intro-nav first-page-intro">
                <button class="button-popup button-tertiary" style="visibility: hidden;">Atrás</button>
                <div class="dots-steps-popup">
                    <div class="dot-step-1 active"></div>
                    <div class="dot-step-2"></div>
                    <div class="dot-step-3"></div>
                    <div class="dot-step-4"></div>
                </div>
                <button class="button-popup button-tertiary" style="visibility: hidden;">Siguiente</button>
            </div>
        </div>
        <div class="tour-intro-popup" id="introStep2" style="display:none;">
            <div class="tour-intro-gallery">
                <video width="100%" height="409" loop autoplay muted playsinline>
                    <source src="./../../private/organisms/popup/media/sidebar.mp4" type="video/mp4">
                    En este momento no es posible reproducir este video, intentelo nuevamente en unos minutos.
                </video>
            </div>
            <div class="tour-intro-description">
                <div class="tour-intro-description--tittle">
                    <div class="tour-intro-description--tittle__icon"><i class="icon icon-devices"></i></div>
                    <div class="tour-intro-description--tittle__text">Menú resumen</div>
                </div>
                <div class="tour-intro-description--description">
                    Analice rápidamente como está compuesto su patrimonio.
                </div>
            </div>
            <div class="tour-intro-nav">
                <button class="button-popup button-tertiary" id="backTo1">Atrás</button>
                <div class="dots-steps-popup">
                    <div class="dot-step-1 active"></div>
                    <div class="dot-step-2"></div>
                    <div class="dot-step-3"></div>
                    <div class="dot-step-4"></div>
                </div>
                <button class="button-popup button-tertiary" id="goTo3">Siguiente</button>
            </div>
        </div>
        <div class="tour-intro-popup" id="introStep3" style="display:none ;">
                <div class="tour-intro-gallery">
                    <video width="100%" height="409" loop autoplay muted playsinline>
                        <source src="./../../private/organisms/popup/media/Card1.mp4" type="video/mp4">
                        En este momento no es posible reproducir este video, intentelo nuevamente en unos minutos.
                    </video>
                </div>
            <div class="tour-intro-description">
                <div class="tour-intro-description--tittle">
                    <div class="tour-intro-description--tittle__icon"><i class="icon icon-ordinal"></i></div>
                    <div class="tour-intro-description--tittle__text">Mi patrimonio</div>
                </div>
                <div class="tour-intro-description--description">
                    Conozca el detalle de sus activos y el rendimiento de sus inversiones.
                </div>
            </div>
            <div class="tour-intro-nav">
                <button class="button-popup button-tertiary" id="backTo2">Atrás</button>
                <div class="dots-steps-popup">
                    <div class="dot-step-1 active"></div>
                    <div class="dot-step-2"></div>
                    <div class="dot-step-3"></div>
                    <div class="dot-step-4"></div>
                </div>
                <button class="button-popup button-tertiary" id="goTo4">Siguiente</button>
            </div>
        </div>
        <div class="tour-intro-popup" id="introStep4" style="display:none;">
            <div class="tour-intro-gallery">
                <div class="tour-intro-gallery">
                    <video width="100%" height="409" loop autoplay muted playsinline>
                        <source src="./../../private/organisms/popup/media/Card3.mp4" type="video/mp4">
                        En este momento no es posible reproducir este video, intentelo nuevamente en unos minutos.
                    </video>
                </div>
            </div>
            <div class="tour-intro-description">
                <div class="tour-intro-description--tittle">
                    <div class="tour-intro-description--tittle__icon"><i class="icon icon-insert"></i></div>
                    <div class="tour-intro-description--tittle__text">Análisis de portafolio</div>
                </div>
                <div class="tour-intro-description--description">
                    Compare su portafolio actual con el recomendado para su perfil de inversión.
                </div>
            </div>
            <div class="tour-intro-nav">
                <button class="button-popup button-tertiary" id="NoShowMoreM">No volver <br>a mostrar</button>
                <div class="dots-steps-popup">
                    <div class="dot-step-1 active"></div>
                    <div class="dot-step-2"></div>
                    <div class="dot-step-3"></div>
                    <div class="dot-step-4"></div>
                </div>
                <button class="button-popup button-tertiary" id="agreePopupM">Entendido</button>
            </div>
        </div>
    </div>