<div id="inteligoPopup" class="inteligo-popup open">
	<div  class="inteligo-popup-content" >
		<div class="inteligo-panel-left">
			<div class="inteligo-panel-left--tittle">
				Una nueva <span>Vista de Inicio</span> para <b>analizar su patrimonio</b>
			</div>
			<div class="inteligo-panel-left--resume">
				<div class="inteligo-panel-left--resume__first-item">
					<div class="i-p-l-item--numeral">1</div>
					<div class="i-p-l-item--detatil">
						<div class="first-item--detatil-tittle">Panel resumen izquierdo</div>
						<div class="first-item--detatil-descp">Analice rápidamente como está compuesto su patrimonio.</div>
					</div>
				</div>
				<div class="inteligo-panel-left--resume__second-item">
					<div class="i-p-l-item--numeral">2</div>
					<div class="i-p-l-item--detatil">
						<div class="first-item--detatil-tittle">Mi patrimonio</div>
						<div class="first-item--detatil-descp">Conozca el detalle de sus activos y el rendimiento de sus inversiones.</div>
					</div>
				</div>
				<div class="inteligo-panel-left--resume__third-item">
					<div class="i-p-l-item--numeral">3</div>
					<div class="i-p-l-item--detatil">
						<div class="first-item--detatil-tittle">Análisis de portafolio</div>
						<div class="first-item--detatil-descp">Compare su portafolio actual con el recomendado para su perfil de inversión</div>
					</div>
				</div>
			</div>
			<div class="inteligo-panel-left--buttons">
				<button class="button button-primary" id="agreePopupD">Entendido</button>
				<button class="button button-terciary" id="NoShowMoreD">No volver a mostrar</button>
			</div>
		</div>
		<div class="inteligo-panel-rigth">
			<i class="icon new-desktop"></i>
		</div>
	</div>
</div>