/*
 * PopUp Inicio - Desktop
 * @author JCarlosR
 */
.inteligo-popup {
	position: fixed;
	z-index: -999;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	margin: auto;
	overflow: auto;
	display: none;

}
.button-primary:active,
.button-terciary:active {
transform: translateY(2px);
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.inteligo-popup.open {
	z-index: 9999;
	display: flex;
}

.inteligo-popup-content {
	background-color: #fff;
	margin: auto;
	width: 100%;
	max-width: 680px;
	transform: scale(1);
	transition: all .5s ease;
	opacity: 0;
	position: relative;
	z-index: 12;
	display: flex;
}
.inteligo-panel-left {
	background-color: #fff;
	width: 451px;
	height: 527px;
	padding: 36px 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.inteligo-panel-left--tittle {
	font: 20px var(--font-primary-medium);
	color: #313334;
}
.inteligo-panel-left--tittle span {
	font: 20px var(--font-primary-semibold);
	color: #313334;
}
.inteligo-panel-left--tittle b {
	font: 24px var(--font-primary-bold);
	color: #233E99;
}
.i-p-l-item--detatil {
	max-width: 300px;
}
.i-p-l-item--numeral {
	background: var(--color-primary);
	width: 24px;
	min-width: 24px;
	height: 24px;
	color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 12px var(--font-primary-semibold);
}
.inteligo-panel-left--resume {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.inteligo-panel-left--resume__first-item,
.inteligo-panel-left--resume__second-item,
.inteligo-panel-left--resume__third-item {
	display: flex;
	gap: 16px;
}

.first-item--detatil-tittle {
	font: 14px var(--font-primary-semibold);
	color: #1148C6;
	line-height: 22px;
}
.first-item--detatil-descp {
	font: 14px var(--font-primary);
	color: #313334;
	line-height: 22px;
}
.inteligo-panel-left--buttons {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.inteligo-panel-left--buttons button {
	width: 248px;
}
.inteligo-panel-rigth {
	width: 229px;
	height: 527px;
	background: #233E99;
}
.inteligo-panel-rigth .new-desktop {
	margin-left: -41px;
}

@media screen and (max-width: 700px) {
	.inteligo-popup{display: none !important;}
}
