/*
 * Insights Page
 * @author JCarlosR, mfyance
 */

.inteligo-main.no-insighths{
  padding-top: 60px !important;
}
.inteligo-main.no-insighths .inteligo-insights{
  display: none !important;
}

.inteligo-main.no-insighths{
  padding-top: 60px !important;
}
.inteligo-main.no-insighths .inteligo-insights{
  display: none !important;
}
.inteligo-main.no-insights{
  
}

.container-cards-insight .owl-carousel.owl-loaded  .owl-stage{
    display: flex;
}
.container-cards-insight .owl-carousel.owl-loaded  .owl-item{
    display: flex;
}
.inteligo-mobile .owl-carousel{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    
    justify-content: flex-end;
}


.container-main-insights{
  display: flex;
  width: 100%;
}

.inteligo-insights-principal {
  background: var(--color-blue-dark);
  margin: -20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.inteligo-insights-saludo:last-child{
  margin-left: 5px;
}
.inteligo-insights-content-saludo {
  display: flex;
}
.inteligo-insights-saludo {
  font: 15px var(--font-primary);
  color: #fff;
  position: relative;
  display: inline-flex;
}

.inteligo-insights-saludo.saludo-dia:before {
  background-image: url(../../../../private/organisms/popup/img/icon-intro-dia.png);
}

.inteligo-insights-saludo.saludo-tarde:before {
  background-image: url(../../../../private/organisms/popup/img/icon-intro-tarde.png);
}

.inteligo-insights-saludo.saludo-noche:before {
  background-image: url(../../../../private/organisms/popup/img/icon-intro-noche.png);
}

.inteligo-insights-saludo:before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  left: -30px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-left-insights {
  width: 100%;
  max-width: 280px;
  padding: 40px 5px 40px 55px;
}

.inteligo-insights-desc {
  font: 24px var(--font-primary-medium);
  color: #fff;
  line-height: 24px;
  width: 100%;
  min-width: 213px;
  max-width: 296px;
  margin-top: 10px;
}

.container-cards-insight {
  display: flex;
  padding-top: 25px;
  max-width: calc(100% - 400px);
  padding-right: 20px;
  position: relative;
}

.card-inteligo-insight {
  height: auto;  
  width: auto;
  border-radius: 0px;
  background: #ffffff;
  padding: 15px;
  padding-bottom: 45px;
  position: relative;
}

.card-inteligo-insight:hover {
  background: #EEF5FE;
}

.inteligo-insight-main {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.inteligo-insight-body {
  padding-right: 5px;
}

.inteligo-insight-header {
  display: flex;
  margin-bottom: 7px;
}

.inteligo-insight-content b{
  word-break: break-word;
  white-space: pre;
}
.inteligo-insight-content {
  font: 14px var(--font-primary);
  color: #313334;
  line-height: 23px;
}

.inteligo-insight-header-dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: var(--color-primary);
  transform: translateY(5px);
  margin-right: 8px;
}
.inteligo-insight-header-dot--blue {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #1148C6;
  transform: translateY(5px);
  margin-right: 8px;
}

.inteligo-insight-header-tittle {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--color-primary);
}
.inteligo-insight-header-tittle--blue {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #1148C6;
}

.inteligo-insight-icon {
  /* height: 40px;
    min-width: 40px;
    border-radius: 0px;
    background: #EEF5FE; */

}

.button-insights>span {
  position: relative;
  /* top: -4px; */
  padding-right: 18px;
}
.inteligo-insight-cta{
  position: absolute;
  width: calc(100% - 30px);
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 15px;
}




