/*
 * Insights Page
 * @author JCarlosR, mfyance
 */

@import url("insights-desktop.css");


@media screen and (min-width: 501px) and (max-width:  768px) {
    [data-insights="1"] .card-inteligo-insight{
        max-width: 320px;
    }
}
@media screen and (min-width: 500px) and (max-width:  650px) {
    [data-insights="1"] .owl-carousel{
       justify-content:  inherit;
        overflow-x: scroll;
        width: 100%;
    }
    .inteligo-mobile [data-insights="4"] .container-cards-insight {
        max-width: calc(100% - 285px) !important;
    }
    [data-insights="1"] .container-cards-insight{
        max-width: calc(100% - 300px);
    }

}

@media screen and (min-width: 501px) {
    .container-top-insights {
        display: none;
    }
    .inteligo-insights-suggestions{
        display: none;
    }
    [data-insights="2"]  .card-inteligo-insight{
        margin-right: 10px;        
    }

}

@media screen and (min-width: 501px) and (max-width: 1279px){
    [data-insights="2"]  .card-inteligo-insight{
        width: 100%;
        max-width: 360px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .inteligo-insights{
        margin-top: 0px;
    }
     
    .inteligo-insight-body {
        width: calc(100% - 60px);
    }
    .insightshow-insights {
        padding-left: 16px;
        padding-top: 0px;
        position: relative !important;
        top: 28px;
        width: 96%;
        overflow-x: scroll;
        margin-top: 4px;
    }      
}
@media screen and (min-width: 770px) and (max-width: 900px) {
   [data-insights="1"] .inteligo-insight-body{
    min-width: auto;
    width: 100%;
   }     
}
@media screen and (min-width: 900px)  {
    
    [data-insights="1"] .owl-carousel{
        justify-content: space-between;
        padding-right: 0;
        display: flex;
        align-items: center;
    }

    [data-insights="1"] .card-inteligo-insight{
        max-width: inherit;
        display: flex;
        width: auto;
        align-items: center;
        height: auto;
        min-height: auto;
        padding: 15px;
        min-width: inherit;
    }
    [data-insights="1"] .inteligo-insight-body{
        max-width: 270px;
    }
    [data-insights="1"] .inteligo-insight-icon{
        margin-right: 15px
    }
    [data-insights="1"] .inteligo-insight-cta{
        position: relative;
        bottom: inherit;
        width: auto;
        min-width: inherit;
    }
 
    [data-insights="1"] .inteligo-insight-main{
        flex-direction: row-reverse;
        align-items: center;
        padding-bottom: 0;
    }   
}
@media screen and (min-width: 1135px) and (max-width: 1279px) {
    .inteligo-mobile [data-insights="3"] .owl-carousel{
        justify-content: flex-end;
    }
}   
@media screen and (min-width: 1280px) {    
    [data-insights="2"]  .card-inteligo-insight{
        width: 100%;
        max-width: inherit;
        min-width: inherit;
    }
    [data-format="big"].owl-rendered .slideshow-insights--item{
        min-width: 270px;
        max-width: 270px;
    }
    [data-format="big"].owl-rendered .slideshow-insights--item {
        min-width: inherit !important;
        max-width: inherit !important;
    }
}
@media screen and (min-width: 1280px)  and (max-width: 1439px) {
    [data-insights="3"] .container-cards-insight{
        max-width: calc(100% - 400px) !important;
    }
    
}
@media screen and (min-width: 1360){
    [data-insights="3"] .card-inteligo-insight:last-child{
        margin-right: 0
    }
    [data-insights="3"] .card-inteligo-insight{
        margin-right: 10px
    }
}
@media screen and (min-width: 1360px)  and (max-width: 1440px) {
    [data-insights="3"] .insightshow-insights--item:last-child{
        margin-right: 0
    }
    [data-insights="3"] .insightshow-insights--item{
        margin-right: 10px;
        /*width: calc(100% / 3);*/
    }
    [data-insights="3"] .owl-carousel{
        justify-content: space-between;
        padding-right: 0;
        display: flex;
    }
}
@media screen and (min-width: 1400px) and (max-width: 1600px) {
    
   
    [data-insights="3"] .owl-carousel{
        padding-right: 0px;
    }
    [data-insights="3"] .card-inteligo-insight{
        min-width: initial !important;
        width: calc( 100% / 3.1);
        margin: 0;
    }
    [data-insights="3"] .card-inteligo-insight:last-child{
        margin-right: 0
    }
}
@media screen and (min-width: 1440px) {
    [data-insights="1"] .inteligo-insight-body{
        margin-right: calc(10vw);
    }

    [data-insights="2"] .inteligo-insight-body{
        max-width: 250px;
        margin-bottom: 20px;
    }

    .owl-item.active [data-insights="3"] .insightshow-insights--item{
        width: calc(100% / 3);
    }
    [data-insights="3"] .container-cards-insight{
        max-width: 1000px
    }

    [data-insights="3"] .owl-carousel{
        justify-content: space-between;
        padding-right: 0;
        display: flex;
    }

   
    [data-insights="3"] .container-cards-insight{
        max-width: 900px;
    }
    
    [data-insights="2"] .card-inteligo-insight:last-child{
        margin-right: 0
    }
    [data-insights="2"] .owl-carousel{
        padding-right: 0;
        display: flex;
    }   
}
@media screen and (min-width: 1600px){
   
    [data-format="big"] .card-inteligo-insight:last-child,
    [data-insights="3"] .card-inteligo-insight:last-child{
        margin-right: 0 !important
    }
  

    [data-format="big"] .card-inteligo-insight,
    [data-insights="3"] .card-inteligo-insight{
        min-width: 270px;
        max-width: 270px;
        width:auto;
        margin-right: 20px
    }
    [data-insights="3"] .owl-carousel{
        justify-content: flex-end;
         padding-right: 10px;
    }
    
    [data-insights="3"] .owl-carousel{
        padding-right: 0;
    }
}
@media screen and (min-width: 1900px) {
    [data-insights="2"]  .card-inteligo-insight{
        width: 100%;
        max-width: 360px;
        min-width: 360px;
    }
    [data-insights="1"] .inteligo-insight-body{
        max-width: 380px;
    }
}

@media screen and (min-width: 2001px) {
    .container-cards-insight  .owl-carousel {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        justify-content: flex-end;
    }
    .container-cards-insight .card-inteligo-insight{
        flex: 1;
        max-width: inherit;
        min-width: inherit;
    }
}

@media screen and (max-width: 3000px) {
    
    [data-format="big"]:not(.owl-rendered) .card-inteligo-insight{
        margin-right: 20px
    }
}

@media screen and (max-width: 1900px) {
 
    .inteligo-mobile [data-format="big"] .owl-carousel,
    .inteligo-mobile [data-insights="3"] .owl-carousel{
        display: flex;
    }  

    [data-insights="4"]:not(.owl-rendered) .container-cards-insight{
        max-width: calc(100% - 250px);
    }

    .inteligo-mobile [data-insights="3"] .card-inteligo-insight:last-child{
        margin-right: 0;
    }
    .inteligo-mobile [data-format="big"]:not(.owl-rendered) .container-cards-insight  {
        overflow-x: scroll;
        width: 100%;
        padding-right: 0
    }
    .inteligo-mobile [data-insights="3"] .card-inteligo-insight{
        min-width: 270px;
    }

     
}
@media screen and (max-width: 1440px) {
   
    [data-format="big"] .container-cards-insight,
    [data-insights="3"] .container-cards-insight{
        max-width: calc(100% - 280px) !important;
    }
   


    [data-insights="2"] .insightshow-insights--item{
        width: 270px;
    }
    [data-insights="2"] .owl-carousel{
        justify-content: flex-end;
        padding-right: 0;
        display: flex;
    }

    [data-format="big"] .owl-carousel{
        overflow-x: scroll;
        width: 100%;
        justify-content: flex-start;
    }
    

    [data-insights="2"] .card-inteligo-insight:last-child{
        margin-right: 0
    }
}
@media screen and (max-width: 1380px) {

    [data-format="big"] .container-cards-insight{
        max-width: calc(100% - 400px) !important;
    }
}

@media screen and (max-width: 1279px) {
    
    .container-left-insights {
        padding: 50px 8px 40px 55px;
    }

    .inteligo-mobile [data-format="big"]:not(.owl-rendered) .card-inteligo-insight,
    .inteligo-mobile [data-insights="3"]:not(.owl-rendered) .card-inteligo-insight{
        max-width: 270px;
        min-width: 270px;
    }
    .inteligo-mobile [data-format="big"]  .owl-carousel{
        justify-content:  inherit;
        overflow-x: scroll;
        width: 100%;
        padding-right: 20px
    }

    .inteligo-mobile [data-insights="4"]  .container-cards-insight{
        width: 100%;
        max-width: inherit;
        top: inherit;
    }
    

    .inteligo-insights-principal {
        margin-top: 0px;
    }

    
    .inteligo-mobile  .card-inteligo-insight:last-child{
        margin-right: 0;
    }

    [data-insights="1"] .card-inteligo-insight{
        margin-right: 0px ;
    }

 
    [data-insights="1"] .owl-carousel{
        justify-content: flex-end;
    }
    [data-insights="1"] .container-cards-insight{
        padding-right: 20px !important;
    }
    
    
  
    
    .inteligo-mobile .inteligo-insights-principal{

        height: auto;

        padding-bottom: 120px;
    }

   
    


    html{
        scroll-behavior: smooth;
    }
    .no-insights{
        margin-top: 10px !important;
    }
}
@media screen and (max-width: 900px){
    [data-format="big"] .container-cards-insight{
        max-width: calc(100% - 250px) !important;
    }
    [data-insights="2"] .owl-carousel{
        display: flex;
        overflow-x: scroll;
        width: 100%;
        justify-content: inherit;
    }
    [data-insights="2"]  .container-cards-insight{
        max-width: calc(100% - 300px);
        overflow-x: scroll;
        width: 100%;
    }
    [data-insights="1"] .inteligo-insight-body{
        padding-bottom: 30px;
    }
    [data-insights="1"] .owl-carousel {
        justify-content: flex-end;
        margin-right: 0;
        padding-right: 0;
    }
    [data-insights="1"] .card-inteligo-insight{
        padding:  20px;
    }
    [data-insights="1"]  .inteligo-insight-cta{
        position: relative;
        bottom: inherit;
        width: 100%;
    }
    [data-insights="1"] .inteligo-insight-body{
        padding-bottom: 0
    }
}
@media screen and (max-width: 770px) {

    [data-insights="2"] .card-inteligo-insight{
        margin-right: 20px;
        min-width: 270px;
        max-width: 270px;
    }

}
@media screen and (max-width: 500px) {
    .inteligo-main.no-insighths .inteligo-main-content{
      padding-top: 0 !important;
    }
    .inteligo-mobile [data-format="big"] .container-cards-insight{
        max-width: 100% !important;
    }
    [data-insights="2"] .card-inteligo-insight{
        max-width: 270px !important;
        min-width: 270px;
        padding-bottom: 60px;
    }

    [data-insights="1"] .card-inteligo-insight{
        max-width: 270px !important;
        min-width: auto;
    }
    .inteligo-mobile .card-inteligo-insight{
        margin-right: 15px;
    }
    .inteligo-mobile [data-insights="3"] .container-cards-insight{
        max-width: 100%;
    }

    
    .inteligo-mobile .container-cards-insight{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 0;
        padding-top: 0;
    }
    .inteligo-mobile .owl-carousel{
        padding-right: 0;
        justify-content: flex-start;
    }
    .inteligo-mobile .card-inteligo-insight{
        width: 100%;
        max-width: 99%;
    }
    .inteligo-mobile .inteligo-insights-principal{
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 500px) {
    .inteligo-main.no-insighths .inteligo-main-content{
      padding-top: 0 !important;
    }
    .insightshow-insights{
        right: 0px;
    }
   
    .inteligo-insights-principal {
        /* height: 350px; */
        background: #233E99;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    .container-top-insights>span {
        font: 14px var(--font-primary-semibold);
        color: #ffffff;
    }

    .inteligo-insights-suggestions {
        font: 18px var(--font-primary-semibold);
        color: #ffffff;
        /* padding-top: 12px; */
        padding-left: 16px;
        padding-bottom: 4px;
        position: relative;
        margin-top: 100px;
        margin-bottom: 10px;
        left: 0;
    }

    .container-left-insights {
        display: none;
    }

    .inteligo-insights {
        margin: 0;
        display: block;
    }

    .container-top-insights {
        padding: 16px 0px 0px 16px;
        position: fixed;
        top: 50px;
        left: 0;
        background: #233E99;
        z-index: 7;
    }

    .tabs-insights > a:last-child{
        margin-right: 20px
    }
    .tabs-insights > a {
        margin-right: 10px;
    }
    
    .container-fixed{
        width: 100vw;
        max-width: 100vw;
    }
    .tabs-insights {
        display: flex;
        padding: 15px;
        width: calc(100vw - 15px);
        position: relative;
        z-index: 10;
        padding-right: 0;
        padding-left: 0;
        overflow-x: auto;
    }

    .container-cards-insight {
        padding-left: 16px;
        padding-top: 0px;
        position: relative !important;
        /*top: 123px;*/
        width: 100%;
        overflow-x: scroll;
        /* height: 183px; */
    }
        

    .main-components {
        margin-top: 0px;
    }
}






   













