<section class="menutoolbar-more">
	<div id="btnMenuVerMasClose" class="menutoolbar-more-close">
		<i class="icon icon-close"></i>
	</div>

	<!-- Agregar "active" al element a, en caso de ponerle en azul -->
	<a href="javascript:void(0)" class="menutoolbar-more-li">
		<div class="menutoolbar-more-icon">
			<i class="icon icon-menu-documentos"></i>
		</div>
		<div class="menutoolbar-more-title">
			Documentos
		</div>		
	</a>
	<a href="javascript:void(0)" class="menutoolbar-more-li">
		<div class="menutoolbar-more-icon">
			<i class="icon icon-menu-rentabilidad"></i>
		</div>
		<div class="menutoolbar-more-title">
			Rentabilidad
		</div>		
	</a>
	<a href="javascript:void(0)" class="menutoolbar-more-li">
		<div class="menutoolbar-more-icon">
			<i class="icon icon-menu-agenda"></i>
		</div>
		<div class="menutoolbar-more-title">
			Agenda
		</div>		
	</a>
	<a href="javascript:void(0)" class="menutoolbar-more-li m-t-10 menu-opacity">
		<div class="menutoolbar-more-icon">
			<i class="icon icon-menu-configuracion"></i>
		</div>
		<div class="menutoolbar-more-title">
			Configuración
		</div>		
	</a>
	<a href="javascript:void(0)" class="menutoolbar-more-li menu-opacity">
		<div class="menutoolbar-more-icon">
			<i class="icon icon-menu-cerrarsesion"></i>
		</div>
		<div class="menutoolbar-more-title">
			Cerrar sesión
		</div>		
	</a>
</section>
<nav class="menutoolbar">
	<ul class="menutoolbar-ul">
		<!-- Agregar "active" al element li, en caso de ponerle en azul -->
		<li class="menutoolbar-li menu-icon">
			<a href="javascript:void(0)" class="menutoolbar-content">
				<i class="icon icon-menu-inicio"></i>
				<div class="menutoolbar-text">Inicio</div>
			</a>
		</li>
		<li class="menutoolbar-li menu-icon">
			<a href="javascript:void(0)" class="menutoolbar-content">
				<i class="icon icon-menu-patrimonio active"></i>
				<div class="menutoolbar-text">Patrimonio</div>
			</a>
		</li>
		<li class="menutoolbar-li menu-icon">
			<a href="javascript:void(0)" class="menutoolbar-content">
				<i class="icon icon-menu-invierta"></i>
				<div class="menutoolbar-text">Invierta</div>
			</a>
		</li>
		<li class="menutoolbar-li menu-icon">
			<a href="javascript:void(0)" class="menutoolbar-content">
				<i class="icon icon-menu-operaciones"></i>
				<div class="menutoolbar-text">Operaciones</div>
			</a>
		</li>
		
		<li id="btnMenuVerMas" class="menutoolbar-li menu-icon">
			<a href="javascript:void(0)" class="menutoolbar-content">
				<i class="icon icon-menu-vermas"></i>
				<div class="menutoolbar-text">Más</div>
			</a>
		</li>
	</ul>
</nav>