.menutoolbar-more{
	display: flex;
	background: #F2F4F8;
	position: fixed;
	z-index: 3;
	bottom: 64px;
	left: 0;
	width: 100%;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 20px;
	transform: translateY(1500px);
	transition: all .3s ease;
	transform-origin: bottom bottom;
}
.menutoolbar-more-li.active{
	color: var(--color-primary);
}
.menutoolbar-more-li{

display: flex;

width: 100%;

padding: 10px 20px;

align-items: center;
}
.menutoolbar-more-icon{

	width: 40px;
	display: flex;
	align-items: center;
}
.active .menutoolbar-more-title{
	color: var(--color-primary);
}
.menutoolbar-more-title{

font: 14px var(--font-primary);

color: #191A1B;
}




.menutoolbar{
	display: flex;
	background: white;
	position: fixed;
	z-index: 4;
	bottom: 0;
	left: 0;
	width: 100%;
	display: none;
}
.menutoolbar-ul{
	display: flex;
	background: white;
	width: 100%;
	box-shadow: 0px -0.5px 0px rgba(9, 30, 66, 0.14), 0px 3px 14px rgba(9, 30, 66, 0.12), 0px 5px 5px rgba(9, 30, 66, 0.2);
}
.menutoolbar-li .menutoolbar-text{
	color: #7a7d80;
}
.menu-icon.active .icon{
	opacity: 1;
}
.menutoolbar-li .icon{
	opacity: 0.5;
}



.menutoolbar-li{
	background: white;
	width: calc(100% / 5);
	cursor: pointer;
	transition: all .2s ease;
}
.menutoolbar-content .icon{

}
.menutoolbar-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: center;
}
.menutoolbar-text{
	font: 12px var(--font-primary);
	margin-top: 3px;
	color: #7a7d80;
	overflow: hidden;
	text-overflow:ellipsis;
    white-space: nowrap;
}
.menu-icon.active .menutoolbar-text{
	color: var(--color-primary);
}

.menutoolbar-more-close:hover{
	transform: scale(1.3);
}
.menutoolbar-more-close{
	position: absolute;
	top: 9px;
	right: 14px;
	cursor: pointer;
}
.menu-opacity{
	opacity: 0.9;
}
@media screen and (max-width: 1279px) {
	.inteligo-mobile-open .menutoolbar{
		transform: translateY(100px);
	}
	.menutoolbar{
		display: flex;
		transition: all .3s ease;
	}
	.inteligo-mobile-vermas .menutoolbar-more{
		transform: translateY(0);
	}
}

