/*
 * Skeleton
 * @author mfyance
 * @license Zalog (https://www.zalog.ro/)
 */



.skeleton {
  z-index: 3;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 15px;
  display: flex;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.skeleton::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
  -webkit-animation: phAnimation 1s linear infinite;
  animation: phAnimation 1s linear infinite;
  content: " ";
  pointer-events: none;
}

@-webkit-keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}


.skeleton-break{
  height: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.skeleton-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-content: center;
  align-items: center;
}
.skeleton-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.skeleton-circle{
  border-radius: 50%;
  background: var(--color-skeleton);
  margin: 0 auto;
}
.skeleton-circle-max{
  width: 80px;
  height: 80px;
}
.skeleton-circle-min{
  width: 50px;
  height: 50px;
}

.skeleton-not-bg{
  background: transparent !important;
}
[class*='skeleton-w']{
  background: var(--color-skeleton)
}
.skeleton-w-10{
  width:10%;
}
.skeleton-w-20{
  width:20%;
}
.skeleton-w-30{
  width:30%;
}
.skeleton-w-40{
  width:40%;
}
.skeleton-w-50{
  width:50%;
}
.skeleton-w-60{
  width:60%;
}
.skeleton-w-70{
  width:70%;
}
.skeleton-w-80{
  width:80%;
}
.skeleton-w-90{
  width:90%;
}
.skeleton-w-100{
  width:100%;
}



.skeleton-h-1{
  height:1px;
}
.skeleton-h-2{
  height:2px;
}
.skeleton-h-3{
  height:3px;
}
.skeleton-h-4{
  height:4px;
}
.skeleton-h-5{
  height:5px;
}
.skeleton-h-6{
  height:6px;
}
.skeleton-h-7{
  height:7px;
}
.skeleton-h-8{
  height:8px;
}
.skeleton-h-9{
  height:9px;
}
.skeleton-h-10{
  height:10px;
}
.skeleton-h-11{
  height:11px;
}
.skeleton-h-12{
  height:12px;
}
.skeleton-h-13{
  height:13px;
}
.skeleton-h-14{
  height:14px;
}
.skeleton-h-15{
  height:15px;
}

.skeleton-h-16{
  height:16px;
}
.skeleton-h-17{
  height:17px;
}
.skeleton-h-18{
  height:18px;
}
.skeleton-h-19{
  height:19px;
}
.skeleton-h-20{
  height:20px;
}
.skeleton-h-30{
  height:30px;
}
.skeleton-h-40{
  height:40px;
}
.skeleton-h-50{
  height:50px;
}
.skeleton-h-60{
  height:60px;
}
.skeleton-h-70{
  height:70px;
}
.skeleton-h-80{
  height:80px;
}
.skeleton-h-90{
  height:90px;
}
.skeleton-h-100{
  height:100px;
}
.skeleton-h-150{
  height:150px;
}

.skeleton-flex{
  display: flex;
  width: 100%;
}
.skeleton-flex-col:first-child{
  margin-right: 10px;
}
.skeleton-flex-col:last-child{
  margin-left: 10px;
}
.skeleton-flex-col{
  width: 50%;
}

[class*='skeleton-left'] {
  position: relative;
}
.skeleton-left-20{
  left: 20px;
}
.skeleton-left-30{
  left: 30px;
}
.skeleton-left-40{
  left: 40px;
}
.skeleton-left-50{
  left: 50px;
}
.skeleton-left-60{
  left: 60px;
}
.skeleton-left-70{
  left: 70px;
}

.skeleton-sidebar [class*='skeleton-w'] {
  background: #52627A;
}
.skeleton.skeleton-sidebar:before{
  background: linear-gradient(to right, rgb(1 24 59 / 2%) 46%, rgb(1 24 59 / 31%) 50%, rgb(1 24 59 / 43%) 54%) 50% 50%;
}
.skeleton-sidebar{
  background-color: #01183b;
}






.miniskeleton-sidebar-row-big{
  width: 150px;
   height: 10px;
}
.miniskeleton-sidebar-row-medium{
  width: 100px;
   height: 10px;
}
.miniskeleton-sidebar-row-small{
  width: 70px;
   height: 20px;
}
.miniskeleton-sidebar-row{
  display: inline-flex;
  background: #132849;
 
  margin-bottom: 10px;
}
.miniskeleton-sidebar{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #0a2042;
  width: 100%;
  z-index: 2;
}
