<!-- Template 4 -->
<div id="modal-template4-{{id}}" data-id="modal-sabermas-{{id}}" class="inteligo-modal" data-modal="template-4">
	<div  class="inteligo-modal-content" >
		<div class="inteligo-modal-close" data-modal="close">
			<i class="icon icon-close"></i>
		</div>

		<div class="inteligo-modal-title"> <i class="icon {{icon}}"></i> {{title}}</div>

		<div class="inteligo-modal-vermas-graph">
			<div id="graphic-{{id}}"></div>
			<div class="inteligo-modal-vermas-num">{{percent}}%</div>
		</div>
		<div  class="inteligo-modal-message">
			<div class="inteligo-modal-status">
				<p>{{{desc1}}}</p>
				<div class="tooltip-black">
					<i class="icon icon icon-help-s"></i>
					<div class="tooltip-black-content">{{tooltip}}</div>
				</div>
			</div>
			<div class="inteligo-modal-legenda">
				{{#activos}}
					<div class="inteligo-modal-legenda-option"><i class="icon {{icon}}"></i> {{text}}</div>
				{{/activos}}				
			</div>

			<div class="inteligo-modal-oportunidad">{{{desc2}}}</div>
		</div>	
	</div>
</div>