<!-- Template 3 -->
<div id="modal-{{id}}" data-id="{{id}}" class="inteligo-modal" data-modal="template-3">
  {{#modalContent}}
  <div class="inteligo-modal-content">
    <div class="inteligo-modal-close" data-modal="close">
      <i class="icon icon-close"></i>
    </div>

    <!-- Contenedor primera página -->
    <div class="inteligo-modal-main">
      <div class="inteligo-modal-header">
        <div class="inteligo-modal-title"> 
          <i class="icon {{icon}}"></i>{{title}}
        </div>

        <div class="inteligo-modal-maxh">
          {{#desc}}
            <div class="inteligo-modal-desc">{{{desc}}}</div>
          {{/desc}}
          
          <div class="inteligo-modals-blocks-content">
            {{#blocks}}
              <div class="inteligo-modal-blocks">
                <div class="inteligo-modal-blocks-title">{{name}}</div>
                <div class="inteligo-modal-blocks-desc">{{desc}}</div>
              </div>
            {{/blocks}}
          </div>

          <div id="graphic-{{id}}" class="graphic-modal"></div>
        </div>


        <div class="modal-alinear-leyenda">
          {{#modalContent2}}
            <div class="modal-alinear-leyenda-option"> <span style="background-color:{{{color}}}"></span> {{{title}}}</div>
          {{/modalContent2}}
         
        </div>
      </div>
      <div class="inteligo-modal-footer">
        {{#button}}
          <button class="button button-primary" data-modal="{{buttonlink}}" data-scroll="{{buttonscroll}}">{{button}}</button>
        {{/button}}
      </div>
    </div>    
  </div>
  {{/modalContent}}
</div>