<!-- Template 6 -->
<div id="modal-{{id}}" class="inteligo-modal" data-id="{{id}}" data-insights="{{idprueba}}" data-modal="template-6">
  {{#modalContent}}
  <div class="inteligo-modal-content">
    <div class="inteligo-modal-close" data-modal="close">
      <i class="icon icon-close"></i>
    </div>

    <!-- Contenedor primera página -->
    <div  class="inteligo-modal-main" data-modal="step-1">
      <div class="inteligo-modal-header">        
        <div class="inteligo-modal-title">
          <i class="icon {{icon}}"></i>{{title}}
        </div>
        
        {{{#desc}}}<div class="inteligo-modal-desc">{{{desc}}}</div>{{{/desc}}}

        {{#download}}
        <div class="inteligo-modal-download">
          <a href="{{link}}" class="inteligo-modal-download-link" target="_blank"><i class="icon icon-download-blue"></i> {{text}}</a>
        </div>
        {{/download}}
        
        {{#ammount}}
        <div class="inteligo-modal-box">
          <div class="inteligo-modal-box-ammount">{{ammount}}</div>
        </div>
        {{/ammount}}
        
        <div {{#table1}} class="inteligo-modal-box" {{/table1}}>
          {{#table1}}
          <div class="inteligo-modal-boxcol">
            <div class="inteligo-modal-boxcol-title">{{percent}}</div>
            <div class="inteligo-modal-boxcol-title">{{money}}</div>
            <div class="inteligo-modal-boxcol-detail"><i class="icon icon icon-alert-red"></i> Exposición actual</div>
          </div>
          {{/table1}}

          {{#table2}} 
          <div class="inteligo-modal-boxcol">
            <div class="inteligo-modal-boxcol-title">{{percent}}</div>
            <div class="inteligo-modal-boxcol-title">{{money}}</div>
            <div class="inteligo-modal-boxcol-detail"><i class="icon icon-status-success"></i> Exposición máxima</div>
          </div>
          {{/table2}} 
        </div>
       
         
        
        {{{#desc2}}}<div class="inteligo-modal-desc">{{{desc2}}}</div>{{{/desc2}}}
      </div>

      <div class="inteligo-modal-footer">
        {{#button1}}
          <button class="button button-primary" data-modal="{{button1link}}">{{button1}}</button>
        {{/button1}}   
        {{#button3}}
          <button class="button button-primary" data-link="{{button3link}}">{{button3}}</button>
        {{/button3}}
      </div>
      <div class="inteligo-modal-footer3">
        {{#button2}}
          <p>{{button2}} <a href="{{button2link}}" target="_blank">aquí</a></p>
        {{/button2}}
      </div>
    </div>

    <!-- Contenedor segunda página -->
    <div  class="inteligo-modal-main" data-modal="step-2" style="display: none;">
      {{#modalContent2}}
      <div class="inteligo-modal-header">        
        <div class="inteligo-modal-title">
          <i class="icon {{icon}}"></i>{{title}}
        </div>
        
        {{{#desc}}}<div class="inteligo-modal-desc">{{{desc}}}</div>{{{/desc}}}
        
        <div class="inteligo-modal-message">
          <div class="inteligo-modal-message-header">
            <span class="inteligo-modal-message-title">Mensaje</span>
            <div class="inteligo-modal-count">
              <span class="inteligo-modal-count-number">0</span>
              <span class="inteligo-modal-count-number">300</span>
            </div>
          </div>
          <div class="inteligo-modal-textarea-content">
            <textarea class="inteligo-modal-textarea" name="{{id}}-mensaje"  
            placeholder="Escriba su mensaje..." autofocus maxlength="500" data-value="{{value}}">{{value}}</textarea>
            <div class="inteligo-modal-error">Máximo 300 caracteres.</div>
          </div>
        </div>
      </div>
      <div class="inteligo-modal-footer2">        
        {{#button1}}
          <button class="button button-lineal" data-modal="{{button1link}}">{{button1}}</button>
        {{/button1}}
        {{#button2}}
          <button class="button button-primary" data-modal="{{button2link}}">{{button2}}</button>
        {{/button2}}
      </div>

      {{/modalContent2}}
    </div> 

    <!-- Section: Mensaje Exitoso  -->
    {{#modalSuccess}}
    <div class="inteligo-modal-sending"  style="display: none;">
      <div class="inteligo-modal-header">
        <div class="inteligo-modal-title"> <i class="icon icon-modal-congratulations"></i> {{title}}</div>
        <div class="inteligo-modal-desc">{{{desc}}}</div>
      </div>
      <div class="inteligo-modal-footer">
        <button class="button button-primary" data-modal="close">Aceptar</button>
      </div>
    </div>
    {{/modalSuccess}} 
    
  </div> 
  {{/modalContent}}
</div>

