<!-- Template 2 -->
<div id="modal-{{id}}" data-id="{{id}}" class="inteligo-modal" data-modal="template-2">
  <div class="inteligo-modal-content">
    <div class="inteligo-modal-close" data-modal="close">
      <i class="icon icon-close"></i>
    </div>

    <!-- Contenedor primera página -->
    <div class="inteligo-modal-main" data-modal="step-1" >
      <div class="inteligo-modal-header">
        {{#modalContent}}
          {{#title}}
            <div class="inteligo-modal-title"><i class="icon {{{icon}}}"></i>{{title}}</div>
          {{/title}}
          {{#subtitle}}
            <div class="inteligo-modal-subtitle">
              {{subtitle}}
            </div>
          {{/subtitle}}
          <div class="inteligo-modal-desc">{{{desc}}}</div>          
        {{/modalContent}}
        
        <div class="inteligo-modal-temp2-content">
          {{#modalContent2}} 
          <div class="inteligo-modal-temp2-desc">
            <hr class="inteligo-modal-temp2-hr"></hr>
            <div class="inteligo-modal-points">
              <div class="inteligo-modal-desc-title">{{title}}</div> 
              <div class="inteligo-modal-desc">{{{desc}}}</div>
            </div>            
          </div>
          {{/modalContent2}}
        </div>        
      </div>

      {{#modalContent}}
        <div class="inteligo-modal-footer2">
          {{#button2}}
            <button class="button button-lineal" data-modal="{{button2link}}">{{button2}}</button>
          {{/button2}}
          {{#button1}}
            <button class="button button-primary" data-modal="{{button1link}}">{{button1}}</button>
          {{/button1}}
        </div>
      {{/modalContent}}
    </div>
    

    <!-- Contenedor segunda página -->
    <div class="inteligo-modal-main" data-modal="step-2" style="display: none;">
      <div class="inteligo-modal-header">
        {{#modalContent3}}
          {{#title}}
            <div class="inteligo-modal-title">
              <i class="icon {{#modalContent3}}{{{icon}}}{{/modalContent3}}"></i> {{title}}
            </div>
          {{/title}}

          {{#subtitle}}
            <div class="inteligo-modal-subtitle">
              {{subtitle}}
            </div>
          {{/subtitle}}
     
          {{#desc}}<div class="inteligo-modal-desc">{{{desc}}}</div> {{/desc}}
          <div class="inteligo-modal-maxh">
            {{#img}}<div class="inteligo-modal-graphic-conservador" style="background-image: url({{img}});"></div>{{/img}}
            {{#imgDetail}}<div class="inteligo-modal-legend">{{{imgDetail}}}</div>{{/imgDetail}}
            {{#desc2}}<div class="inteligo-modal-desc">{{{desc2}}}</div>{{/desc2}}
          </div>
        {{/modalContent3}}
        
      </div>

      {{#modalContent3}}
      <div class="inteligo-modal-footer2">        
        {{#button1}}
          <button class="button button-lineal" data-modal="{{button1link}}">{{button1}}</button>
        {{/button1}}
        {{#button2}}
          <button class="button button-primary" data-modal="{{button2link}}">{{button2}}</button>
        {{/button2}}
      </div>
      {{/modalContent3}}
    </div>

    <!-- Contenedor tercera página -->
    <div  class="inteligo-modal-main" data-modal="step-3" style="display: none;">
      {{#modalContent4}}
      <div class="inteligo-modal-header">        
        <div class="inteligo-modal-title">
          <i class="icon icon-modal-contact"></i>{{title}}
        </div>
        
        {{{#desc}}}<div class="inteligo-modal-desc">{{{desc}}}</div>{{{/desc}}}
        
        <div class="inteligo-modal-message">
          <div class="inteligo-modal-message-header">
            <span class="inteligo-modal-message-title">Mensaje</span>
            <div class="inteligo-modal-count">
              <span class="inteligo-modal-count-number">0</span>
              <span class="inteligo-modal-count-number">300</span>
            </div>
          </div>
          <div class="inteligo-modal-textarea-content">
            <textarea class="inteligo-modal-textarea" name="{{id}}-mensaje"  
            placeholder="Escriba su mensaje..." autofocus maxlength="500" data-value="{{value}}">{{value}}</textarea>
            <div class="inteligo-modal-error">Máximo 300 caracteres.</div>
          </div>
        </div>
      </div>
      <div class="inteligo-modal-footer">
        {{#button1}}
          <button class="button button-primary " data-modal="{{button1link}}">{{button1}}</button>
        {{/button1}}
        {{#button2}}
          <button class="button button-terciary" data-modal="{{button2link}}">{{button2}}</button>
        {{/button2}}
      </div>
      {{/modalContent4}}
    </div>
    
    <!-- Section: Mensaje Exitoso  -->
    {{#modalSuccess}}
    <div class="inteligo-modal-sending"  style="display: none;">
      <div class="inteligo-modal-header">
        <div class="inteligo-modal-title"> <i class="icon icon-modal-congratulations"></i> {{title}}</div>
        <div class="inteligo-modal-desc">{{{desc}}}</div>
      </div>
      <div class="inteligo-modal-footer">
        <button class="button button-primary" data-modal="close">Aceptar</button>
      </div>
    </div>
    {{/modalSuccess}}
    
  </div>
</div>

<!-- <p></p> -->