/*
 * Modals
 * @author mfyance
 */

/*Eliminar segundo boton, en caso entre por primera vez*/
.inteligo-modal[data-first-time="true"] .inteligo-modal-footer2 .button:last-child{
    display: none;
}

.inteligo-modal-top{
    top: 0 !important;
    bottom: 0 !important;
    max-height: 100vh;
    margin: 0;
}
.inteligo-modal-height,
.inteligo-modal-height .inteligo-modal-content{
    height: 100vh !important;
}
.open.inteligo-content-modals{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

.open.inteligo-modal {
    transform: scale(1);
    opacity: 1;
}
.open.inteligo-modal{
    display: flex; 
    z-index: 9999;
}
.inteligo-modal-status i{
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.inteligo-modal-status p{
    color: #313334;

font: 14px var(--font-primary);
}
.inteligo-modal-status{

display: flex;

align-items: center;

color: #313334;

font: 14px var(--font-primary);
}
.inteligo-modal-legenda{

/* border: 2px solid #DDE1E6; */

display: grid;

grid-template-columns: repeat(2, 1fr);

grid-template-rows: repeat(2, 1fr);

grid-column-gap: 10px;

grid-row-gap: 5px;

margin-top: 8px;

margin-bottom: 20px;
}
.inteligo-modal-legenda-option i{
    margin-right: 5px;
}
.inteligo-modal-legenda-option{

display: flex;

align-items: center;

font: 14px var(--font-primary-semibold);

color: #313334;
}
.inteligo-modal-oportunidad p{

font: 14px var(--font-primary);
    
color: #313334;
line-height: 20px;
}
.inteligo-modal-oportunidad b{
    font-family: var(--font-primary-bold);
    color: var(--color-primary) !important;
}
.inteligo-modal-oportunidad{
    
padding: 16px 24px;
    
border: 1px solid #ddd;
    
margin-top: 15px;

}


/*end Patrimonio*/


.inteligo-modal-subtitle{
    color: #494B4E;
    font:  16px var(--font-primary-medium);
    text-align: center;
    margin-bottom: 20px;
}


.inteligo-modal {
    position: fixed;
    z-index: -999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: auto;
    display: flex;
    opacity: 0;
    transition: all .5s ease;
    transform: scale(0);
}


.inteligo-modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 100%;
    max-width: 420px;

    position: relative;
    z-index: 9999;
    padding: 24px;
    padding-top: 50px;
    overflow: hidden;
}
.inteligo-modal-header{
    position: relative;
}
.inteligo-modal-title > i {
    margin-right: 10px;
}
.inteligo-modal-title{
    font: 18px var(--font-primary-semibold);
    color: var(--color-secondary);
    display: flex;
    margin-bottom: 24px;
    line-height: 20px;
    align-items: center;
}
.inteligo-modal-title-alert{
    color: #d73723;
}

.inteligo-modal-close {
    position: absolute;
    right: 20px;
    top: 17px;
    opacity: 0.5;
    z-index: 999;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inteligo-modal-main{
    z-index: 0;
    position: relative;
}

.inteligo-modal-close:hover,
.inteligo-modal-close:focus {
    opacity: 1;
    cursor: pointer;
}
.inteligo-modal-desc p:last-child{
    margin-bottom: 0;
}
.inteligo-modal-desc b{
    font-family:var(--font-primary-medium) ;
}
.inteligo-modal-desc b.green{
    font-family: var(--font-primary-semibold);
    color: #48A17E;
}
.inteligo-modal-desc b.red{
    font-family: var(--font-primary-semibold);
    color: #C73723;
}
.inteligo-modal-desc b.blue{
    font-family: var(--font-primary-semibold);
    color: #2765F5;
}
.inteligo-modal-desc p{
    font: 14px var(--font-primary);
    letter-spacing: 0.1px;
    line-height: 20px;
    color: var(--color-gray-bold);
    margin-bottom: 10px;
    text-align: justify;
}
.inteligo-modal-desc ul li:last-child{
    margin-bottom: 0;
}
.inteligo-modal-desc ul li{
    margin-bottom: 10px;
}
.inteligo-modal-desc ul{
    list-style: disc;
    padding-left: 18px;
    color: var(--color-gray-bold);
}
.inteligo-modal-desc ol li:before{
    content: counter(item)". ";
    position: absolute;
    left: -15px;
}
.inteligo-modal-desc ol li{
    counter-increment: item;
    font: 14px var(--font-primary);
    color: var(--color-gray-bold);
    position: relative;
    line-height: 20px;
}
.inteligo-modal-desc ol{
    list-style: none;
    counter-reset: item;
    padding-left: 18px;    
}


.inteligo-modal-maxh,
.inteligo-modal-temp2-content,
.inteligo-modal-desc {
    padding: 10px 0px;
    padding-top: 0;
    margin: 0px;
    
}
.inteligo-modal-message {
 
    margin: auto;
    margin-top: 15px;
}
.inteligo-modal-message-title{
    font: 12px var(--font-primary);
}
.inteligo-modal-count-number:first-child:after{
    content: "/";
    display: inline-flex;
    padding-left: 2px;
}
.inteligo-modal-count-number{
    font: 12px var(--font-primary);
}


.inteligo-modal-textarea {
    width: 100%;
    min-height: 120px;
    resize: none;
    background: #f4f4f4;
    color: #202223;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border: 1px solid #DDE1E6;
}
.inteligo-modal-textarea:focus {
    outline: none;
    background: #f4f4f4;
    border-color:  var(--color-primary);
    border-bottom: none;
    box-shadow: 0 1px 0 var(--color-primary);
}
.inteligo-modal-textarea[placeholder] {
font: 14px var(--font-primary);
padding: 11px 16px;
}
.inteligo-modal-count {
    display: flex;
}

.inteligo-modal-footer button:nth-child(2){
    margin-top: 10px;
}
.inteligo-modal-footersuccess,
.inteligo-modal-footer{
    display: flex;
    width: 100%;
    margin-top: 24px;
    margin-left: 0;
    flex-direction: column;
}
.inteligo-modal-footer2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    align-items: center;
}
.inteligo-modal-footer3 a{
    color: #2765F5;
    font:14px var(--font-primary);
    text-decoration: underline;
    text-underline-position: under;
}
.inteligo-modal-footer3 p{
    font:14px var(--font-primary);
    color: #191A1B;
}
.inteligo-modal-footer3{
    margin-top: 20px;
}

.two-buttons{
    flex-direction: column;
    row-gap: 12px;
}

.inteligo-modal-btn-back:hover{
    background: #616467;
}
.inteligo-modal-btn-back{
    border-radius: 0px;
    width: 50%;
    border: 0px;
    height: 40px;
    margin: 0;
    background: #393939;
    color: #fff;
    font: 16px var(--font-primary);
    transition: all .3s ease;
}
.inteligo-modal-btn-next:hover{
    background: var(--color-primary-hover);
}
.inteligo-modal-btn-next:last-child{
    margin-bottom: 0;
}
.inteligo-modal-btn-next{
    border-radius: 0px;
    width: 100%;
    border: 0px;
    height: 40px;
    margin: 0;
    background: var(--color-primary);
    color: #fff;
    font: 16px var(--font-primary);
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 10px;
}
.inteligo-modal-btn-next:disabled{
    background: #C2C7CC;
    color: #92969A;
}
.inteligo-modal-btn-tertiary:hover{
    background: var(--color-secondary-active);
    color: var(--color-white);
    border: 0;
}
.inteligo-modal-btn-tertiary{
    border-radius: 0px;
    width: 100%;
    height: 40px;
    margin: 0;
    background: var(--color-white);
    color: var(--color-primary);
    font: 16px var(--font-primary);
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid var(--color-primary);
}
.inteligo-modal-btn-tertiary:disabled{
    background: var(--color-white);
    color: #C2C7CC;
    border: 1px solid #C2C7CC;
}
.inteligo-modal-message-header{
    display: flex;
    justify-content: space-between;
}
.inteligo-modal-textarea-content{
    margin-top: 5px;
    padding-bottom: 15px;
    position: relative;
}
.inteligo-modal-error{
    color: var(--color-error);
    font:  12px var(--font-primary);
    margin-top: 5px;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
.error .inteligo-modal-error{
    display: flex;
}
.error .inteligo-modal-count-number{
    color: var(--color-error);
}
.error .inteligo-modal-textarea{
    border-color: var(--color-error);
    border-bottom: none;
    box-shadow: 0 1px 0 var(--color-error);
}
.inteligo-modal-success{
    display: flex;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 31px;
}
.inteligo-modal-icon{
    margin-right: 10px;
}
.inteligo-modal-msjexito{
    font: 14px var(--font-primary);
    color: #202223;
}

.inteligo-modal-vermas-graph{
    display: flex;
    justify-content: center;
    position: relative;
    transform: scale(1.2);
}
.inteligo-modal-vermas-num{
    position: absolute;
    top: 48%;
    left: 51%;
    font: 28px var(--font-primary-bold);
    color: var(--color-secondary);
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.semibold{
    font-family: var(--font-primary-semibold) !important;
}




.insights-pie-label>span {
    overflow: visible !important;
}

#chart-pie-alineamiento {
    width: 372px;
    height: 268px;
}

.modal-alinear-leyenda-option i{
    margin-right: 5px;
}
.modal-alinear-leyenda-option span{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
}
.modal-alinear-leyenda-option{
    font: 12px var(--font-primary);
    color: #191A1B;
    display: flex;
    align-items: center;
}
.modal-alinear-leyenda {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    /* margin-top: 8px; */
    margin-bottom: 10px; 
    border: 2px solid #DDE1E6;
}



.inteligo-modal-temp2-hr {
  border: none;
  border-left: 1px dashed #92969A;
  height: calc(100% - 300px);
  width: 1px;
  position: absolute;
  left: 18px;
}

.inteligo-modal-desc-title{
    font: 14px var(--font-primary-bold);
    color: var(--color-secondary);
    line-height: 26px;
}

.inteligo-modal-temp2-content{
    display: flex;
    flex-direction: column;
}
.inteligo-modal-temp2-desc{
    margin-left:40px;
    position: relative;
}

.inteligo-modal-temp2-desc:last-child .inteligo-modal-desc {
    padding-bottom: 0;
}
.inteligo-modal-temp2-desc:last-child .inteligo-modal-points:after {
    display: none;
}

.inteligo-modal-points{
    position: relative;
}
.inteligo-modal-points:last-child:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* border: 2px solid #FFAF27; */
    background: #31338f;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #31338f;
}


.inteligo-modal-points:after {
    content: "";
    width: 1px;
    height: 100%;
    border-left: 1px dashed #92969A;
    display: block;
    left: -25px;
    position: absolute;
    top: 7px;
    z-index: 0;
}
.inteligo-modal-points:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 2px #233E99 solid;
    border-radius: 50%;
    transform: translateY(8px);
    left: -29px;
    z-index: 1
}

.inteligo-modal-legend{
    font: 12px var(--font-primary-medium);
    color: #191A1B;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 0 30px;
}

.inteligo-modal-graphic-conservador{
    height: 170px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.graphic-modal .highcharts-container {
    overflow: visible !important;
    margin: 0 auto;
}
.graphic-modal{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow: visible !important;
    margin-bottom: 0px;
    margin-top: -20px;
}



/*Arrow Slider*/

.container-cards-insight .owl-arrow-next {
    cursor: pointer;
    transition: all .3s ease;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-30%);
    z-index: 2;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 3px 5px rgba(9, 30, 66, 0.2)) drop-shadow(0px 0px 2px rgba(9, 30, 66, 0.31));
}

.container-cards-insight .owl-arrow-prev:hover {
    opacity: 1
}

.container-cards-insight .owl-arrow-prev i {
    transform: rotate(180deg);
}

.container-cards-insight .owl-arrow-prev {
    opacity: 1;
    cursor: pointer;
    transition: all .3s ease;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-30%);
    z-index: 2;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    filter: drop-shadow(0px 3px 5px rgba(9, 30, 66, 0.2)) drop-shadow(0px 0px 2px rgba(9, 30, 66, 0.31));
}

.container-cards-insight .buttons-owl{
    display: none;
}
.container-cards-insight .owl-loaded+.buttons-owl{ 
    display: block;

}

.inteligo-modal-blocks-desc{
    color: #191A1B;
    font: 18px var(--font-primary);
}
.inteligo-modal-blocks-title{
    color: #191A1B;
    font: 12px var(--font-primary-medium);
}
.inteligo-modal-blocks{
    border-left: 1px solid #DDE1E6;
    padding-left: 10px;
    margin-bottom: 10px;
}
.inteligo-modals-blocks-content .inteligo-modal-blocks:last-child{
    margin-bottom: 30px;
}



.inteligo-modal-box{
    background: #F2F4F8;
    padding:10px;
    display: flex;
    margin-bottom: 10px;
}

.inteligo-modal-boxcol:first-child{
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid #DDE1E6;
}
.inteligo-modal-boxcol:first-child .inteligo-modal-boxcol-title{
  color: #C62828;
}
.inteligo-modal-boxcol:last-child{
  padding-right: 10px;
  padding-left: 30px;
}
.inteligo-modal-boxcol:last-child .inteligo-modal-boxcol-title{
  color: #36B37E;
}
.inteligo-modal-boxcol{
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inteligo-modal-boxcol-title{
  font: 16px var(--font-primary-bold);
  margin-bottom: 7px;
}
.inteligo-modal-boxcol-detail i{
  margin-right: 5px;
}
.inteligo-modal-boxcol-detail{
  font:12px var(--font-primary);
  color: #313334;
  display: flex;
  align-items: center;
}

.inteligo-modal-download i{
    margin-right: 5px;
}
.inteligo-modal-download{
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
}
.inteligo-modal-download-link:hover{
    color: var(--color-secondary);
    text-decoration: underline;
}
.inteligo-modal-download-link{
    font: 14px var(--font-primary);
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-position: under;
    display: flex;
    align-items: center;
}
.inteligo-modal-box-ammount{
    text-align: center;
    color: #36B37E;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    font: 18px var(--font-primary-medium);
}

.inteligo-country-button .button{
    min-width: 100%;
}

.inteligo-countries .easy-autocomplete{
    width: 100%
}
.inteligo-countries{
    position: relative;
}


.inteligo-modal-row-check .container-checkbox label{
  font-size: 14px !important;
}


.inteligo-modal-row-countries .inteligo-modal-row:last-child{
    width: 30%;
    margin-top: 0;
}
.inteligo-modal-row-countries .inteligo-modal-row:first-child{
    width: 70%;
    margin-top: 0;
}
.inteligo-modal-row-countries{
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
.inteligo-modal-row-twice{
  display: flex;
  gap: 10px;
}
.inteligo-modal-row{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.inteligo-modal-row-check{
  margin-top: 24px;
  margin-bottom: 30px;
}

.inteligo-row-text{
  font:12px var(--font-primary);
  color: #191A1B;
  margin-bottom: 8px;
}

.inteligo-list-countries{
    display: flex;
    gap: 3px;
    margin: 10px auto;
    flex-wrap: wrap;
    margin: 10px auto;
}
.inteligo-list-countries:empty{
    margin: 0;
}
.inteligo-countries .icon-search{
  position: absolute;
  top: 10px;
  left: 5px;
  cursor: pointer;
}
.list-country{
  display: inline-flex;
  padding: 4px 12px;
  border-radius: 18px;
  background: #BAE6FF;
  color: #00539A;
  padding-right: 20px;
  position: relative;
  font: 12px var(--font-primary);
}
.list-country .icon-delete{
    position: absolute;
    top: 8px;
    right: 4px;
    cursor: pointer;
}

/*Modal contenido calendario Mobile*/
.inteligo-modal-calendars{
    position: relative;
}
.inteligo-modal-calendar-header{
    position: relative;
}
.inteligo-calendar-return{
    display: flex;
    gap: 5px;
    position: absolute;
    top: -35px;
    left: -10px;
    align-items: center;
    font:16px var(--font-primary-medium);
    color: var(--color-secondary);
}
.inteligo-modal-calendar-header{
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDE1E6;
}
.inteligo-modal-calendar-content{
    margin-top: 10px;
}


/*Capa de selector en Mobile*/
.inteligo-mob-datepicker-bg,
.inteligo-mob-select-bg{
    display: none;
}

@media screen and (max-width: 1279px) {
    .container-cards-insight .owl-arrow-prev,                                                   
    .container-cards-insight .owl-arrow-next{
        display: none;
    }
}


@media screen and (max-width: 500px) {
    
    .inteligo-mob-select{
        position: relative;
        overflow: hidden;
    }
    .inteligo-mob-datepicker-bg,
    .inteligo-mob-select-bg{
        background: #690e0e00;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;        
        display: block;
        top: 0;
        left: 0;
    }
    [data-modal="template-7"] .inteligo-modal-maxh3{
        height: calc(100vh - 180px);
        overflow: auto;
    }
    [data-modal="template-7"] .inteligo-modal-main[data-modal="step-2"]{
        height: calc(100vh - 65px);
    }

    .inteligo-modal-content{
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    }
    .inteligo-modal-content{
        width: 100%;
    }
    .inteligo-modal-textarea {
        width: 100%;
    }
    .open.inteligo-modal{
        display: flex;
        justify-content: normal;
        height: auto;
        position: fixed;
        bottom: 0;
        top: initial;
        left: 0;
    }
    .inteligo-modal-content{
        max-width: 100%;
        width: 100%;
    }
    .open.inteligo-modal {
        transform:  translate(0 , 0);
        opacity: 1;
    }
    .inteligo-modal {
        transform:  translate(0 , 100%);
        transition: all .5s ease;
        opacity: 0;
    }
}

    

@media screen and (max-width: 380px) {
 
    .graphic-modal{
        transform: scale(0.9);
        height: 150px;
    }
    .inteligo-modal-content {
        scrollbar-width: none;
        scrollbar-color: #8a8a8a #ffffff;
    }

    .inteligo-modal-content::-webkit-scrollbar {
        width: 0px;
        display: none;
        -webkit-appearance: none;
    }

    .inteligo-modal-content::-webkit-scrollbar-track {
        background: #ffffff;
    }

    .inteligo-modal-content::-webkit-scrollbar-thumb {
        background-color: #8a8a8a;
        border-radius: 0px;
        border: 0px none #ffffff;
    }

    .inteligo-modal-content::-webkit-scrollbar:vertical {
        width:0px;
    }
    .inteligo-modal-content {      
        overflow-y: scroll;
        margin-bottom: -4px;
        padding-top: 35px
    }
    .inteligo-modal-close{
        right: 5px;
        top: 10px;
        opacity: 1;
        width: 30px;
        height: 30px;
    }
    .inteligo-modal-textarea{
        min-height: 80px;
        height: 80px;
    }
    .inteligo-modal-top .inteligo-modal-content{
        max-height: 100vh;
        margin: 0;
        padding-top: 26px;
        min-height: 100vh;
    }
    .inteligo-modal-title{
        margin-bottom: 16px;
        padding-right: 20px;
    }
    .inteligo-modal-message{
        margin-top: 5px;
    }
    .inteligo-modal-footer{
        margin-top: 0
    }
}



@media screen and (max-height: 900px){
    .inteligo-modal-maxh,
    .inteligo-modal-temp2-content,
    .inteligo-modal-desc {       
        max-height: calc(100vh - 280px);
        overflow: auto;
        
    }
}

@media screen and (max-height: 700px){
    .inteligo-modal-maxh,
    .inteligo-modal-temp2-content,
    .inteligo-modal-desc {       
        max-height: calc(100vh - 350px);
        overflow: auto;
        
    }
}