/*
 * Card SaberMas
 * @author mfyance
 */

@import url("detailpage-desktop.css");


@media screen and (min-width: 1920px) {
  .detailpage-content {
    padding: 24px 40px;
  }
  .detailpage-activos-right,
  .detailpage-rentafija-box {
    max-width: 537px;
    padding: 16px 32px 16px 35px;
    display: flex;
    max-height: 100px;
  }
  .detailpage-activos-icon {
    margin-right: 28px;
  }
  .detailpage-rentafija-identificar {
    max-width: 793px;
  }
  .detailpage-content-footer.analisis-ventajas {
    margin: 24px 0px 0px 0px;
    padding: 16px 24px;
    box-shadow: 0px 0px 0px 1px #dde1e6 inset;
    border: 0;
  }
  .detailpage-title{
    padding-right: 40px;
  }
  .detailpage-title-primary {
    color: #ffffff;
    font: 24px var(--font-primary-bold);
    max-width: 100%;
    margin-bottom: 15px;
  }
  .detailpage-title-secondary {
    max-width: inherit;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .detailpage-content {
    padding: 24px 40px;
  }
  .detailpage-rentafija-identificar {
    max-width: 417px;
  }
  .detailpage-title{
    padding-right: 50px;
  }
  .detailpage-title-primary {
    color: #ffffff;
    font: 24px var(--font-primary-bold);
    max-width: 216px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .container-cta-detailpage{
        display: flex;
        gap: 24px;
    }
}
@media screen and (max-width: 1279px) {
    .main-card-detailpage{
        margin-top: 10px
    }
}
@media screen and (max-width: 1023px) {
    .detailpage-mtable-box.error{
        border-top: 5px solid #C73723;
        border-color: #C73723;
    }
    .detailpage-mtable-box {           
        border: 1px solid #ddd;
        border-top: 5px solid #488981
    }
    .detailpage-mtable-body{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .detailpage-mtable-box.analisis-mstatus-error {
        border-top: 3px solid #C62828;
    }
    .detailpage-mtable-box.analisis-mstatus-success {
        border-top: 3px solid #488981;
    }
    .detailpage-mtable-box.analisis-mstatus-error:before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background: #233E99;
        border: 3px #fff solid;
        border-radius: 50%;
        transform: translateY(8px);
        left: 25px;
        margin-top: -24px;
        box-shadow: 0 0 0 3px #233e99;
    }
    .detailpage-mtable-box.analisis-mstatus-success:before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background: #233E99;
        border: 3px #fff solid;
        border-radius: 50%;
        transform: translateY(8px);
        left: 25px;
        margin-top: -24px;
        box-shadow: 0 0 0 3px #233e99;
    }
}
@media screen and (max-width: 1000px) {
    .detailpage-rentafija-left{
        width:  100%;
    }
    .detailpage-rentafija-asignacion{
        width: calc(100% - 250px);
        justify-content: center;
    }
    
}
@media screen and (min-width: 601px) and (max-width: 999px) {
    .detailpage-activos-block {
        flex-direction: column;
    }
    .detailpage-activos-left {
        display: flex;
        width: calc(100% - 32px);
        padding-right: 0px;
    }
    .detailpage-content-rentafija {
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .detailpage-activos-right {
        margin-top: 24px;
    }
    .detailpage-activos-right, .detailpage-rentafija-box {
        width: 100%;
        max-width: 100%;
        margin-top: 24px;
    }
    .detailpage-rentafija-content {
        display: inline-flex;
        flex-wrap: wrap;
        /* width: calc(100vh - 120px); */
        justify-content: left;
        column-gap: 94px;
    }
    .nopadding{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .detailpage-rentafija-col{
        padding: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .detailpage-activos-detail{
        display: flex;
    }
    .detailpage-activos-text{
        max-width: 510px;
    }
    .detailpage-activos-href {
        display: block;
        margin-top: 6px;
        white-space: nowrap;
    }
    .detailpage-activos-href>a{
        text-decoration: underline;
    }
    .detailpage-distribucion-title{
        margin-bottom: 24px;
    }
    .detailpage-content-footer.analisis-ventajas{
        display: flex;
        flex-wrap: wrap;
    }
    .detailpage-rentafija-identificar{
        max-width: 100%;
        margin-bottom: 16px;
    }
    .container-cta-detailpage{
        display: flex;
        column-gap: 101px;
        margin: 0 28px;
    }
    
}
@media screen and (max-width: 600px) {
    .detailpage-rentafija-asignacion{
        width: 100%;
    }
    .detailpage-rentafija-left{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .detailpage-rentafija-valorporta .detailpage-rentafija-col-title{
        justify-content: center;
    }
    .detailpage-rentafija-valorporta .detailpage-rentafija-col-subtitle{
        text-align: center !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detailpage-rentafija-valorporta{

    }
    .detailpage-content-distribucion{
        margin-bottom: 0;
    }
    .detailpage-title-icon i{
        /* transform: scale(1.8); */
        top: 6px;
    }
    .detailpage-title-main{
        margin-left: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .detailpage-distribucion-content{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .detailpage-mtable-status{
        margin-bottom: 10px;
    }
    .detailpage-activos-title{
        display: none;
    }
    .detailpage-activos-title-2 {
        display: block;
        font: 14px var(--font-primary);
        color: #616467;
      }
    .detailpage-content {
        padding: 20px 20px;
    }
    .detailpage-title {
        display: flex;
        align-items: inherit;
        padding: 20px;
        flex-direction: initial;
    }
    .detailpage-title-rigth{
        display: flex;
        justify-content: flex-start;
        padding-top: 16px;
        width: 100%;
    }
    .detailpage-title-rigth button{
        max-width: 230px;
        width: 100%;
    }
    .detailpage-activos-block{
        flex-direction: column-reverse;
    }
    .detailpage-activos-icon{
        display: none;
    }
    .detailpage-activos-right{
        background: #fff;
        margin:  0 auto;
        max-width: 100%;
        padding: 20px 0 10px 0;
    }
    .detailpage-activos-right .detailpage-rentafija-box {
        max-width: 100%;
        padding-top: 0
    }
    .detailpage-activos-text b{
        color: var(--color-primary);
    }
    .detailpage-activos-text{
        text-align: center;
        font: 18px var(--font-primary-medium);
        line-height: 28px;
        max-width: 80%;
        margin: 0 auto;
    }
    .detailpage-activos-href{
        text-align: center;
        margin: 15px auto;
    }
    .detailpage-activos-href a{
        text-decoration: underline;
    }

    .detailpage-activos-left {
        display: grid;
        width: 100%;
        padding-right: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }

    .detailpage-activos-left[data-box="1"],
    .detailpage-activos-left[data-box="2"]{
        grid-template-rows: repeat(1, 1fr);
    }


    [data-box="1"] .detailpage-activos-box,
    [data-box="2"] .detailpage-activos-box,
    [data-box="3"] .detailpage-activos-box,
    [data-box="4"] .detailpage-activos-box,
    [data-box="5"] .detailpage-activos-box,
    [data-box="6"] .detailpage-activos-box{
        width: 100%;
    }
    .detailpage-content-rentafija{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .detailpage-rentafija-title {
        margin-bottom: 24px;
    }
    .detailpage-rentafija-col-subtitle{
        text-align: center;
    }

    .detailpage-rentafija-content{
        flex-direction: column;
    }
    .detailpage-rentafija-col:first-child {
        margin-bottom: 16px;
    }
    .detailpage-rentafija-col {
        margin-bottom: 7px;
    }
    .detailpage-distribucion-title {
        display: flex;
        flex-direction: column;
    }
    .detailpage-distribucion-table{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .detailpage-distribucion-link {
        font: 14px var(--font-primary);
    }
    .detailpage-content-footer.analisis-ventajas{
        margin-top: 20px;
        box-shadow: inherit;
    }
    .detailpage-content-footer.analisis-ventajas .analisis-ventajas-info{
        margin-top: 0px;
        margin-bottom: 30px;
        padding-top: 0
    }
    .detailpage-box-title {
        white-space: nowrap;
        font-size: 13px;
    }
    .detailpage-activos-box{
        padding: 11px;
    }
    .container-cta-detailpage{
        width: calc(100% + 48px);
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .detailpage-hr {
        border: none;
        border-left: 1px dashed #92969A;
        height: calc(100% - 1482px);
        width: 1px;
        position: absolute;
        left: 32px;
    }
    .detailpage-activos-box{
        padding: 10px 2px;
    }
    .detailpage-box-title{
        max-width: 100%;
    }
    .detailpage-content {
        padding: 10px;
    }
}

@media screen and (max-width: 350px) {

    .detailpage-activos-text{
        max-width: 100%;
    }
   
}