/*
 * Card Abonos 
 * @author mfyance
 * @author JCarlosR
 */



/*Grafico*/
.abonos-year::-webkit-scrollbar {
	width: 10px;
	height: 5px;
	cursor: pointer;
	transition: all .3s ease;
	display: block;
	padding-bottom: 10px;
}

.abonos-year::-webkit-scrollbar-thumb {
	background: #DDE1E6;
	border-radius: 0px;
	cursor: pointer;
	transition: all .3s ease;
}

.abonos-year::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 0px;
	cursor: pointer;
	transition: all .3s ease;
}


.abonos-year {
	width: auto;
	overflow-y: hidden;
	overflow-x: auto;
	/* padding-bottom: 8px; */
	margin-top: 0 !important;
	padding-top: 10px;
	/* padding-left: 5px;
	padding-right: 15px; */
	scrollbar-color: #DDE1E6;
	scrollbar-width: thin;
}

[data-month="12"].abonos-graphic-month {
	width: 36px;
	min-width: 36px;
	/* padding-right: 8px; */
	overflow: visible;
}

[data-month="12"].abonos-graphic-month:last-child {
	padding-right: 0;
}

[data-month="6"].abonos-graphic-month {
	width: calc(100% / 6 - 9px);
	min-width: calc(100% / 6 - 9px);
}

[data-month="6"].abonos-graphic-month:last-child {
	padding-right: 0;
	/* width: 41px;
	min-width: 41px; */
}

[data-month="3"].abonos-graphic-month {
	width: calc(100% / 3 - 7px);
	min-width: calc(100% / 3 - 7px);
	/* padding-right: 20px; */
}

[data-month="3"].abonos-graphic-month:last-child {
	padding-right: 0;
}

/*end*/


.card-abonos {
	display: flex;
	flex-direction: column;
	position: relative;
	/*padding: 9px;*/
}

.abonos-title {
	font: 18px var(--font-primary-bold);
	color: #233E99;
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}

.abonos-more:hover {
	background: #f6f6f6;
}

.abonos-more {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	cursor: pointer;
	transition: all .3s ease;
	z-index: 2;
}

.abonos-amount {
	padding-left: 10px;
	margin-bottom: 14px;
	border-left: 4px solid #DDE1E6;
}

.abonos-amount-up {
	font: 24px var(--font-primary-semibold);
}

.abonos-amount-down {
	color: #313334;
	font: 12px var(--font-primary);
	margin-top: 5px;
}

.abonos-warning {
	/* padding: 10px; */
	/* background: #EDF5FF; */
	color: #7A7D80;
	font: 12px var(--font-primary-medium);
	/* margin-bottom: 20px; */
	margin-top: 6px;
	/* margin-bottom: 9px; */
}

.abonos-amount-firmantes {
	color: #1148C6;
	font-family: var(--font-primary-medium);
}

.abonos-calendar {
}

.abonos-graphic {
	margin-top: 20px;
	margin-bottom: 2px;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 10px;
}
.abonos-graphic-small .abonos-graphic-bar{
	height: 50px;
	min-height: 50px;
}

.abono-tabs {
	display: flex;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 8px;
	border: 1px solid #AAAEB3;
	padding: 2px;
	box-sizing: border-box;
}

.abono-tab-link.active {
	background: var(--color-primary);
	color: white;
	font-family: var(--font-primary-medium);
}

.abono-tab-link:not(.active):hover {
	background: var(--color-sky);
}

.abono-tab-link {
	color: #191A1B;
	font: 14px var(--font-primary);
	width: calc(100% / 3);
	padding: 9px 2px;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	transition: all .3s ease;
}

.abono-link {
	margin-top: 8px;
}

.abono-link-href:hover {
	color: var(--color-secondary);
}

.abono-link-href {
	font: 14px var(--font-primary-semibold);
	color: #2765F5;
	/* border-bottom: 1px solid #2765F5; */
	transition: all .3s ease;
}

.abonos-amount-up-amount {
	color: #191A1B;
}

.abonos-container-select {
	display: flex;
	width: 100%;
}

.abonos-select-year {
	width: 35%;
	padding-right: 10px;
}

.abonos-select-portfolio {
	width: 65%;
}

.abonos-graphic-month:first-child .abonos-graphic-bar:hover .abonos-graphic-bar-hover{
	opacity: 1;
	transform: translateX(0%) translateY(0px);
	z-index: 2
}
.abonos-graphic-month:first-child .abonos-graphic-bar-hover{
	left: 10px;
    transform: translateX(0) translateY(10px);
    justify-content: flex-start;
}


.abonos-graphic-month:last-child .abonos-graphic-bar:hover .abonos-graphic-bar-hover{
	opacity: 1;
	transform: translateX(0%) translateY(0px);
	z-index: 2
}
.abonos-graphic-month:last-child .abonos-graphic-bar-hover{
	left: inherit;
	right: 10px;
    transform: translateX(0) translateY(10px);
    justify-content: flex-end;
}

.abonos-graphic-month:last-child{
	margin-right: 0;
}
.abonos-graphic-month {
	position: relative;
	margin-right: 10px;
}
.abonos-graphic-month-hover .abonos-graphic-bar-hover{
	top: -10px  !important
}





.abonos-graphic-bar {
	background: #F2F4F8;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.abonos-graphic-bar.active .abonos-graphic-bar-size:not(.abonos-abonado),
.abonos-graphic-bar:hover .abonos-graphic-bar-size:not(.abonos-abonado) {
	background: #2765F5;
}

.abonos-graphic-bar.active .abonos-graphic-bar-hover,
.abonos-graphic-bar:hover .abonos-graphic-bar-hover {
	opacity: 1;
	transform: translateX(-50%) translateY(0px);
	z-index: 2
}

.abonos-graphic-bar-size.abonos-abonado{
	background: #DDE1E6;
}
.abonos-graphic-bar-size {
	background: #80AAF8;
	position: relative;
	transition: all .3s ease;
	overflow: visible;
}

.abonos-graphic-bar-hover {
	opacity: 0;
	position: absolute;
	top: -25px;
	z-index: -1;
	left: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(-50%) translateY(10px);
	transition: all .3s ease;
}

.abonos-abonado .abonos-graphic-bar-width span{
	display: block;
	font-size: 10px;
	padding-top: 2px;
}
.abonos-abonado .abonos-graphic-bar-width{
	background: #92969A;
	display: flex;
	flex-direction: column;
    text-align: center;
}
.abonos-graphic-bar-width {
	width: auto;
	background: #2765F5;
	padding: 3px 7px;
	color: white;
	font: 12px var(--font-primary);
	white-space: nowrap;
}

.abonos-graphic-name {
	text-align: center;
	font: 12px var(--font-primary);
	color: #7A7D80;
	margin-top: 5px;
}

.open-abonos-toolbar{
	overflow: hidden;
}

.open-abonos-toolbar .abonos-toolbar{
	transform: translateY(0px);
}
.open-abonos-toolbar .inteligo-backdrop{
	display: flex;
    z-index: 2;
}
.abonos-toolbar{
	position: fixed;
    width: 100%;
    z-index: 4;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 20px;
    transition: all .3s ease;
    transform: translateY(500px);
}
.abonos-meses-title{
	font: 16px var(--font-primary-semibold);
	color: #313334;
}
.abonos-meses-list{
	margin-top: 20px;
	max-height: 70vh;
    overflow: auto;
}

.abonos-close{
	position: absolute;
    top: 10px;
    right: 10px;
}

.abonos-empty{
	width:  100%;
	margin: 0px auto;
}
.abonos-empty-content{
	display: flex;
	align-items: center;
	border: 1px solid #DDE1E6;
	padding: 15px;
}


.abonos-empty-title strong{
	font-family: var(--font-primary-medium);
}
.abonos-empty-title{
	font:  14px var(--font-primary);
	color: #191A1B;
    width: calc(100% - 20px);
    padding-left: 10px;
}

.abonos-empty-center .abonos-empty-title{
	margin-top: 10px;
	max-width: 500px;
}
.abonos-empty-center{
	flex-direction: column;
	text-align: center;
}
.abonos-empty-title a:hover{
	color: var(--color-secondary) !important;
}
.abonos-empty-title a{
	font-family: var(--font-primary-medium);
	color: var(--color-primary);
	text-decoration: underline;
}