/*
 * Card Cuenta Corriente
 * @author JCarlosR
*/

@import url("trading-desktop.css");

@media screen and (min-width: 451px) {
    .trading-movements-righ-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 1279px) {
    .main-card-trading {
        margin-top: 12px;
        padding: 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 799px) {
    .trading-movements {
        column-gap: 33px;
    }

    .trading-movements-right__from {
        width: 140px;
    }

    .trading-movements-right__to {
        width: 140px;
    }

    .trading-movements-right .customize-button-calendar button {
        width: 150px;
        margin-left: 0px;
    }

    .button-50 {
        max-width: 220px;
    }

    .subtotal-header {
        margin: auto;
    }
    .detail-trading-block {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 columnas con igual ancho */
        gap: 2px;
    }
    
    .detail-trading-block .detail-trading-cards:nth-child(1),
    .detail-trading-block .detail-trading-cards:nth-child(2) {
        grid-column: span 1; /* ocupa 1 columna */
    }
    
    .detail-trading-block .detail-trading-cards:nth-child(3) {
        grid-column: span 2; /* ocupa 2 columnas */
    }
    .detail-trading-cards {
        margin: inherit;
        width: inherit;
    }
    
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .trading-movements {
        column-gap: 33px;
    }

    .trading-movements-right__from {
        width: 140px;
    }

    .trading-movements-right__to {
        width: 140px;
    }

    .trading-movements-right .customize-button-calendar button {
        width: 150px;
        margin-left: 33px;
    }

    .button-50 {
        max-width: 220px;
    }

    .subtotal-header {
        margin: auto;
    }
    .detail-trading-block {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 columnas con igual ancho */
        gap: 2px;
    }
    
    .detail-trading-block .detail-trading-cards:nth-child(1),
    .detail-trading-block .detail-trading-cards:nth-child(2) {
        grid-column: span 1; /* ocupa 1 columna */
    }
    
    .detail-trading-block .detail-trading-cards:nth-child(3) {
        grid-column: span 2; /* ocupa 2 columnas */
    }
    .detail-trading-cards {
        margin: inherit;
        width: inherit;
    }
    
}

@media screen and (min-width: 700px)and (max-width: 1023px) {

    .trading-title {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .trading-title-rigth {
        margin-left: 51px;
        align-self: flex-start;
    }
}

@media screen and (min-width: 1024px)and (max-width: 1279px) {

    .trading-title-secondary {
        max-width: 580px;
      }
}

@media screen and (max-width: 700px){
    .trading-movements{
        flex-direction: column;
        row-gap: 14px;
    }
    .trading-select {
        width: 100%;
    }

    .buttons-trading,
    .buttons-trading .button{
        width: 100%;
    }
    .detail-trading-cards {
        width: 100%;
    }

    .detail-trading-block {
        flex-direction: column;
    }
    .buttons-trading-block {
        flex-direction: column;
        gap: 12px;
        margin: 0 24px 24px;
    }
    .ccmain-head-top,
    .creditcard__main__button{
        flex-direction: column;
    }
    .creditcard-title .creditcard-title-right,
    #mustacheTarjetaInfo .creditcard-payment{
        display: none;
    }
   
    .creditcard__loan-detail {
        display: flex;
        flex-direction: column;
    }

    .creditcard__loan-detail--left,
    .creditcard__loan-detail--right {
        width: inherit;
    }

    .creditcard__loan-detail--right {
        display: flex;
        width: 100%;
        gap: 20px;
    }
    .cc__ld--inteligo-points,
    .cc__ld--status{
        width: 100%;
    }
    .creditcard-content-links{
        flex-direction: column;
    }

    .creditcard-consulta{
        margin-right: auto;
    }
    
}

@media screen and (max-width: 600px){

    
   
    
    .creditcard-info{
        margin-bottom: 5px;
    }
  
}

@media screen and (max-width: 425px) {
    .main-card-trading {
        margin-top: 12px;
        padding: 0;
    }

    #tradingTableDesktop {
        display: none;
    }

    .main-trading-detail {
        background: white;
        flex-direction: column;
        border: 1px solid #DDE1E6;
        padding: 24px;
        padding-bottom: 16px;
    }

    .detail-middle-top {
        justify-content: center;
    }

    .trading-detail-left {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 2px solid #E5E5E5;
    }

    .trading-detail-middle {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 2px solid #E5E5E5;
    }

    .trading-detail-right {
        text-align: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #e5e5e5;
        width: calc(100% + 48px);
        margin-left: -24px;
    }

    .trading-arrow {
        display: flex;
        justify-content: flex-end;
    }

    .trading-arrow>i {
        margin-top: 16px;
    }

    .trading-arrow>i::before {
        font: 16px var(--font-primary-medium);
        color: var(--color-primary);
        content: "Ver detalle";
        display: flex;
        position: absolute;
        left: 58px;
    }

    .detail-trading__header {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .detail-trading-main-header {
        flex-direction: column;
    }

  


    .pos-viewer-2 {
        margin-top: 16px !important;
        margin-bottom: 0 !important;
    }

    .separador-vistaToggle {
        flex-direction: column;
        gap: 16px;
        padding-top: 16px;
    }

    .separador-vistaToggle .toggle-switch-container {
        width: inherit;
    }



    .trading-movements {
        display: flex;
        flex-direction: column;
        margin: 0 24px 0px;
    }

    .trading-movements-title {
        margin-bottom: 24px;
    }

    .trading-movements--legend {
        margin-bottom: 8px;
    }

    .trading-select {
        width: 100%;
    }



  

    .content-trading-header {
        flex-direction: column-reverse;
        height: inherit;
        padding: 16px;
        background: #fff;
        border: 1px solid #DDE1E6;
    }

    .subtotal-header {
        flex-direction: column;
        text-align: center;
        gap: 4px;
    }

    .pos-viewer {
        margin: 0px !important;
        margin-top: 16px !important;
    }

    #listaTrading {
        background: #F2F4F8;
    }

    /* ESTILOS DE LA TABLA VERSIÓN MOBILE */
    #mustacheTradingMobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
    }

    #chck1 {
        position: absolute;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
    }

    .chekbox-mtable {
        visibility: hidden;
        height: 0;
        width: 0;
        display: none;
    }

    /* Accordion styles */
    .folding-mtable {
        border-radius: 0px;
        overflow: hidden;
        margin: 0 24px;
    }

    .tab-mtable {
        width: 100%;
        color: #191A1B;
        overflow: hidden;
    }

    .tab-label-trading {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        background: #DDE1E6;
        font-weight: bold;
        cursor: pointer;
        font: 14px var(--font-primary-semibold);
        /* Icon */
    }

    .tab-label-trading:hover {
        background: #DDE1E6;
    }

    .tab-label-trading::after {
        content: "\276F";
        width: 20px;
        height: 20px;
        text-align: center;
        transition: all 0.35s;
        color: #1148c6;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}

    .tab-content {
        max-height: 0;
        padding: 0 16px;
        font: 14px var(--font-primary);
        color: #7B7C7E;
        background: #F2F4F8;
        transition: all 100ms;
        border-bottom: 1px solid #dde1e6;
    }

    .tab-content:last-child {
        border-bottom: 0
    }

    .tab-content-middle {
        display: flex;
        justify-content: space-between;
    }

    .tab-content-middle-left {
        font: 14px var(--font-primary-medium);
        color: #313334;
    }

    .tab-content-bottom {
        display: flex;
        justify-content: space-between;
    }

    .tab-content-bottom-left {
        font: 14px var(--font-primary-medium);
        color: #313334;
    }

    .tab-content-bottom-right {
        font: 14px var(--font-primary-medium);
        color: #494B4E;
    }

    .chekbox-mtable:checked+.tab-label-trading {
        background: #DDE1E6;
    }

    .chekbox-mtable:checked+.tab-label-trading::after {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
}

    .chekbox-mtable:checked~.tab-content {
        max-height: 100vh;
        padding: 12px 16px;
    }

    .trading-status-success {
        color: #48A17E !important;
        font: 14px var(--font-primary-semibold) !important;
    }

    .trading-status-error {
        color: #C73723 !important;
        font: 14px var(--font-primary-semibold) !important;
    }

    .tab-content-middle-right i {
        margin-right: 10px;
    }

    .trading-movements-right {
        flex-direction: column;
    }

    .trading-movements-right__from {
        width: inherit;
        margin-top: 16px;
    }

    .trading-movements-right__to {
        width: inherit;
        margin-top: 16px;
    }

    .customize-button-calendar button {
        width: 100%;
        margin: 16px 0 0 0;
    }

    .trading-table-mobile {
        margin-top: 24px;
        margin-bottom: 1px;
        padding-bottom: 1px;
    }

    /* FIN DE LA TABLA MOBILE */
    .trading-movements-righ {
        display: none !important;
    }

    .trading-title {
        flex-direction: column;
        gap: 16px;
    }

    .trading-title-rigth {
        margin-left: 51px;
        align-self: flex-start;
    }

    .trading-type {
        font: 16px var(--font-primary) !important;
    }

    .detail-middle-top>div:first-child {
        font: 16px var(--font-primary) !important;
    }
    .trading-detail-middle .divider-short {
        width: 1px;
    }
    .detail-middle-top>div {
        font: 16px var(--font-primary-bold) !important;

    }

    .detail-right-top {
        font: 16px var(--font-primary) !important;
    }

    .trading-type-number {
        font: 20px var(--font-primary-bold);
    }

    .detail-middle-bottom_trading {
        font: 20px var(--font-primary-bold);
    }

    .detail-right-bottom_trading {
        font: 20px var(--font-primary-bold);
    }
    .main-card-box + .main-card-trading {
        box-shadow: none;
    }
    .main-card-box + .main-card-trading > .detalle-trading {
        box-shadow: 0px 3px 5px rgb(9 30 66 / 20%), 0px 0px 2px rgb(9 30 66 / 31%);
    }
    .main-card-box + .main-card-trading > .lista-trading {
        box-shadow: none;
    }
}

