<div class="detalle-trading" id="detalleTrading">
	<div class="cardbox-back">
		<a data-box-return="home" href="javascript:void(0)" class="cardbox-back-link">
			<i class="icon icon-arrow-left-blue"></i> Volver a mi zona segura
		</a>
	</div>
	<div class="trading-title">
		<div class="trading-title-left">
			<div class="trading-title-icon">
				<i class="icon icon-global"></i>
				<div class="trading-title-main">
					<div class="trading-title-primary">
						Cuenta trading
					</div>
					<div class="trading-title-secondary">
						Se encuentra el cash disponible dentro del portafolio. Se puede utilizar para invertir y recibir las rentas (cupones, dividendos, intereses) así como los flujos por vencimientos o ventas de activos.

					</div>
				</div>
			</div>
		</div>
		<div class="trading-title-rigth">
			<button id="allTrading" class="button button-pentary">Ver todas mis cuentas <i class="icon icon-arrow-w"></i>
			</button>
		</div>
	</div>

	<div class="trading-content">
		<div class="detail-trading-main-header">
			<div class="detail-trading__header">
				<div class="detail-trading__header--title">Cuenta trading 1000000000</div>
				<div class="detail-trading__header--subtitle">Portafolio 10000-1</div>
			</div>
			<div class="separador-vistaToggle">
				<div class="profile-viewer pos-viewer-trading">
					<div class="viewer-img">
						<i class="icon viewer-icon"></i>
					</div>
					<div class="viewer-descript">Vista como titular</div>
				</div>
				<div class="toggle-switch-container" style="display: none;">
					<button class="toggle-switch-button left-button active" id="dolares">Dólares</button>
					<button class="toggle-switch-button right-button" id="euros">Euros</button>
				</div>
			</div>
		</div>
		<div class="detail-trading-block">
			<div class="detail-trading-cards">
				<div class="trading-cards-title">USD $554,594.00</div>
				<div class="trading-cards-subtitle">Saldo contable en <span>USD</span></div>
			</div>
			<div class="detail-trading-cards">
				<div class="trading-cards-title">USD $554,594.00</div>
				<div class="trading-cards-subtitle">Saldo disponible en <span>USD</span></div>
			</div>
			<div class="detail-trading-cards">
				<div class="trading-cards-title">0.0</div>
				<div class="trading-cards-subtitle">Línea de sobregiro en <span>USD</span></div>
			</div>
		</div>
	</div>
	<div class="buttons-block-main">
		<div class="buttons-block-left">
			<button class="button button-primary">Realizar transferencia</button>
			<button class="button button-secondary">Estado de cuenta</button>
		</div>
		<div class="buttons-block-right buttons-actions-content">
			<button class="button button-actions buttons-desktop">
				<i class="icon icon-download"></i>
			</button>
			<button class="button button-actions buttons-desktop" data-modal="email">
				<i class="icon icon-mail"></i>
			</button>
			<button class="button button-actions buttons-desktop">
				<i class="icon icon-printer"></i>
			</button>

			<button class="button button-actions buttons-mobile">
				<i class="icon icon-mail"></i> Enviar PDF
			</button>
			<button class="button button-actions buttons-mobile">
				<i class="icon icon-mail"></i> Enviar Excel
			</button>
		</div>
	</div>
	<div class="trading-movements-title">
		Movimientos en <span>dólares (USD)</span>
	</div>
	<div class="trading-movements">
		<div class="trading-movements-left">
			<div class="trading-movements--legend">Filtrar por</div>
			<div class="trading-movements--select">
				<div class="nice-select trading-select" tabindex="0"><span class="current">Últimos 30 días</span>
					<ul class="list">
						<li data-value="option1" class="option default-value selected focus">Últimos 30 días</li>
						<li data-value="option2" class="option default-value">Últimos 60 días</li>
						<li data-value="option3" class="option default-value">Últimos 90 días</li>
						<li data-value="option4" class="option customize-value-time">Personalizado</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="trading-movements-right" style="display: none;">
			<div class="trading-movements-right__from">
				<label class="trading-movements--legend" for="">Fecha inicial</label>
				  <input type="text" class="form-control icon-menu-agenda" name="datepicker" id="monthpicker3" placeholder="mm/yyyy" readonly>
			</div>
			<div class="trading-movements-right__to">
				<label class="trading-movements--legend" for="">Fecha final</label>
				  <input type="text" class="form-control icon-menu-agenda" name="datepicker" id="monthpicker4" placeholder="mm/yyyy" readonly>
			</div>
			<div class="customize-button-calendar"><button class="button button-secondary">Buscar</button></div>
		</div>
	</div>
	<script type="x-tmpl-mustache" id="tmpTradingTable">
        {{#datos}}
            {{#mvtosTrading}}
                <tr data-date="{{idtrading}}">
                    <td class="t-a-l">
                        <div class="trading-motion-detail">
                            <div class="trading-motion-detail__date">{{fecha}}</div>
                            <div class="trading-motion-detail__description">{{descripción}}</div>
                        </div>
                    </td>
                    {{#status}}
                    <td>
                        <div class="td-center-table trading-status-success">
                            <i class="icon icon-triangle-up"></i>
                            <div class="trading-monto">{{monto}}</div>
                        </div>
                    </td>
                    {{/status}}

                    {{^status}}
                    <td>
                        <div class="td-center-table trading-status-error">
                            <i class="icon icon-triangle-down"></i>
                            <div class="trading-monto">{{monto}}</div>
                        </div>
                    </td>
                    {{/status}}
                    <td class="t-a-r">
                        <div class="trading-saldo">{{saldo}}</div>
                    </td>                           

                </tr>
            {{/mvtosTrading}}
        {{/datos}}
    </script>
	<div id="tradingTableDesktop">
		<table class="trading-table">
			<thead>
				<tr>
					<th class="t-a-l">Descripción</th>
					<th class="t-a-r">Monto</th>
					<th class="t-a-r">Saldo</th>
				</tr>
			</thead>
			<tbody id="mustacheTradingTable">
			</tbody>
		</table>
	</div>
	<script type="x-tmpl-mustache" id="tmpTradingTableMobile">
        {{#datos}}
            {{#mvtosTrading}}
                   <div class="folding-mtable" data-date="{{idtrading}}">
                    <div class="tab-mtable">
                      <input class="chekbox-mtable" type="checkbox" id="{{idtrading}}" checked>
                      <label class="tab-label-trading" for="{{idtrading}}">{{fecha}}</label>
                      <div class="tab-content tab-content-top">
                        {{descripción}}
                      </div>
                      {{#status}}
                    <div class="tab-content tab-content-middle trading-status-success">
                        <div class="tab-content-middle-left">Monto</div>
                        <div class="tab-content-middle-right"><i class="icon icon-triangle-up"></i>{{monto}}</div>
                    </div>
                    {{/status}}

                    {{^status}}
                    <div class="tab-content tab-content-middle trading-status-error">
                        <div class="tab-content-middle-left">Monto</div>
                        <div class="tab-content-middle-right"><i class="icon icon-triangle-down"></i>{{monto}}</div>
                    </div>
                    {{/status}}
                      <div class="tab-content tab-content-bottom">
                        <div class="tab-content-bottom-left">Saldo</div>
                        <div class="tab-content-bottom-right">{{saldo}}</div>
                      </div>
                      </div>
                    </div>
            {{/mvtosTrading}}
        {{/datos}}
    </script>
	<div id="tradingTableMobile" class="trading-table-mobile">
		<div id="mustacheTradingMobile"></div>
	</div>
</div>

<div class="lista-trading" id="listaTrading" style="display: none;">
	<div class="cardbox-back">
		<a data-box-return="trading" href="javascript:void(0)" class="cardbox-back-link">
			<i class="icon icon-arrow-left-blue"></i> Volver
		</a>
	</div>
	<div class="trading-title">
		<div class="trading-title-left">
			<div class="trading-title-icon">
				<i class="icon icon-global"></i>
				<div class="trading-title-main">
					<div class="trading-title-primary">
						Cuenta trading
					</div>
					<div class="trading-title-secondary">
						Se encuentra el cash disponible dentro del portafolio. Se puede utilizar para invertir y recibir las rentas (cupones, dividendos, intereses) así como los flujos por vencimientos o ventas de activos.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="trading-content">
		<div class="content-trading-header">
			<div class="profile-viewer pos-viewer">
				<div class="viewer-img">
					<i class="icon viewer-icon"></i>
				</div>
				<div class="viewer-descript">Vista como titular</div>
			</div>
			<div class="subtotal-header">
				<div class="saldo-trading-text">Saldo Total</div>
				<div class="saldo-trading-amount">USD $1,109,188.00</div>
			</div>
		</div>
		<div class="main-trading-detail">
			<div class="trading-detail-left">
				<div class="trading-type">Portafolio</div>
				<div class="trading-type-number">10000-1</div>
			</div>
			<div class="trading-hr"></div>
			<div class="trading-detail-middle">
				<div class="detail-middle-top">
					<div>Cuenta</div>
					<div class="divider-short"></div>
					<div>Dólares (USD)</div>
				</div>
				<div class="detail-middle-bottom_trading">
					Nº 1000000000
				</div>
			</div>
			<div class="trading-hr"></div>
			<div class="trading-detail-right">
				<div class="detail-right-top">
					<label>
						<input type="checkbox" name="selectButton" class="select-button_trading" id="selectButton"
							checked="checked">
						<span></span>
					</label>Saldo disponible
				</div>
				<div class="detail-right-bottom_trading">USD $554,594.00</div>
			</div>
			<div class="trading-arrow">
				<i class="icon chevron-right"></i>
			</div>
		</div>
		<div class="main-trading-detail">
			<div class="trading-detail-left">
				<div class="trading-type">Portafolio</div>
				<div class="trading-type-number">10000-2</div>
			</div>
			<div class="trading-hr"></div>
			<div class="trading-detail-middle">
				<div class="detail-middle-top">
					<div>Cuenta</div>
					<div class="divider-short"></div>
					<div>Dólares (USD)</div>
				</div>
				<div class="detail-middle-bottom_trading">
					Nº 1000000000
				</div>
			</div>
			<div class="trading-hr"></div>
			<div class="trading-detail-right">
				<div class="detail-right-top">
					<label>
						<input type="checkbox" name="selectButton" class="select-button_trading" id="selectButton"
							checked="checked">
						<span></span>
					</label>Saldo disponible
				</div>
				<div class="detail-right-bottom_trading">USD $554,594.00</div>
			</div>
			<div class="trading-arrow">
				<i class="icon chevron-right"></i>
			</div>
		</div>
	</div>
</div>