<header class="inteligo-header">
	<div class="menu-ismobile">
		<img class="header-logo-img2" src="../../private/pages/masterpage/img/logo-inteligo-mobile.png" alt="Logo Inteligo">
		
		<div id="btnOpenMenuMobile" class="mobile-menu">
			<div class="mobile-menu-icon">
				<i class="icon icon-burger"></i>
			</div>
			<div class="mobile-menu-text"></div>
		</div>
	</div>


	<nav class="header-menu">
		<ul class="header-menu-ul">
			<li class="header-menu-li active">
				<a class="box-hover" href="javascript:void(0)">
					<div class="box-hover-bg"></div>
					<span class="header-menu-text clic-material">Inicio</span>
				</a>
			</li>
			<li class="header-menu-li">
				<a class="box-hover" href="javascript:void(0)">
					<div class="box-hover-bg"></div>
					<span class="header-menu-text clic-material">Invierta</span>
				</a>
			</li>
			<li class="header-menu-li">
				<a class="box-hover" href="javascript:void(0)">
					<div class="box-hover-bg"></div>
					<span class="header-menu-text clic-material">Operaciones</span>
				</a>
			</li>
			<li class="header-menu-li">
				<a class="box-hover " href="javascript:void(0)">
					<div class="box-hover-bg"></div>
					<span class="header-menu-text clic-material">Documentos</span>
				</a>
			</li>
		</ul>

		<div class="header-user">
			<a class="header-user-icon" href="javascript:void(0)">
				<i class="icon icon-campaign"></i>
				<div class="header-user-help">3</div>
			</a>
			<a id="btnOpenModalAyuda" class="header-user-icon" href="javascript:void(0)" data-tooltip="¿Necesitas ayuda?" data-flow="bottom">
				<i class="icon icon-help"></i>
			</a>
			

			<div class="header-profile ">
				<div id="btnProfile" class="header-profile-button clic-material">
					<i class="icon icon-user"></i>
					<div class="header-profile-user">
						<div class="header-profile-name">Usuario 1000233</div>
					</div>
					<i class="icon icon-arrow icon-arrow-down icon-arrow--is-sky"></i>
				</div>

				<ul class="header-options">
					<li class="header-options-li">
						<a class="header-options-href clic-material" href="javascript:void(0)">
							<div class="header-options-icon">
								<i class="icon icon-config"></i>	
							</div>
							<div class="header-options-text">Configuración</div>
						</a>
					</li>
					<li class="header-options-li">
						<a class="header-options-href clic-material" href="javascript:void(0)">
							<div class="header-options-icon">
								<i class="icon icon-logout"></i>
							</div>
							<div class="header-options-text">Cerrar</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
