/*
 * Card Portafolio Desktop
 * @author mfyance
 * @author JCarlosR
 */

.card-portafolios-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font: 13px var(--font-primary);
    color: #313334;
}

.portafolio-title{
    font: 18px var(--font-primary-bold);
    color: #233E99;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}
.chart-patrimonio{
    margin-top: 20px;
}
.portfolio-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.type-risk-content {
    margin-left: 70px;
    position: relative;
}

.type-risk-content:after {
    content: "";
    width: 2px;
    height: 34px;
    background: #DDE1E6;
    position: absolute;
    left: -15px;
    top: 13px;
}

#tblDetPosicionActivoMobile {
    display: none;
}

.portfolio-selector {
    max-width: 220px;
}

.apexcharts-bar-area {
    fill: #538af7 !important;
    filter: none !important;
}

.apexcharts-bar-area[val*="-"] {
    fill: #d3e1fc !important;
    filter: none !important;
}

.apexcharts-text tspan {
    font: 11px var(--font-primary) !important;
    color: #313334 !important;
    font: 12px var(--font-primary) !important;
    color: #313334 !important;
}

.apexcharts-bar-area:active, .apexcharts-bar-area:hover {
    fill: #233e99 !important;
}

.apexcharts-tooltip.apexcharts-theme-light {
    border: none !important;
    transform: translate(-11px, -24px);
    border: none !important;
}

.apexcharts-tooltip {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.card-portafolios-chart, .card-portafolios {
    width: 100%;
    position: relative;
}

.card-portafolios-title {
    font: 14px var(--font-primary-semibold);
    color: var(--color-primary);
}

.title--q1 {
    padding-left: 24px;
    padding-top: 24px;
}

.container--chart {
    margin-top: -10px;
}

.title--q1 .portf--name {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #191a1b;
    padding-bottom: 2px;
}

.title--q1 .portf--mount {
    font-family: var(--font-primary);   
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2765f5;
}

.portafolio-rentabilidad {
    padding: 10px;
    padding-top: 0 !important;
    margin-top: 10px;
}

.portafolio-rentabilidad-title {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #191a1b;
}

.portafolio-rentabilidad-table {
    display: flex;
    justify-content: space-between;
    /* margin-top: 6px; */
    align-items: center;
}

.portafolio-rentabilidad-module {
    font-family: var(--font-primary-medium);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #313334;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 20px;
}

.portafolio-rentabilidad-module-b {
    font-family: var(--font-primary-medium);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: var(--color-blue-medium);
    display: flex;
    align-items: center;
}


.portafolio-rentabilidad-col {
    background: var(--color-white);
    width: calc(100% / 3 - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 16px;
    border: 1px solid #c2c7cc;
    margin-right: -1px;
}

.portafolio-rentabilidad-col:first-child {
    background: var(--color-white);
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 16px;
    border: 1px solid #c2c7cc;
    margin-right: -1px;
}

.portafolio-rentabilidad-col:nth-child(2) {
    background: var(--color-white);
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 16px;
    border: 1px solid #c2c7cc;
    margin-right: -1px;
}

.portafolio-rentabilidad-col:nth-child(1) .portafolio-rentabilidad-module,
.portafolio-rentabilidad-col:nth-child(4) .portafolio-rentabilidad-module{
    margin-right: 0;
}


.portafolio-rentabilidad-col:last-child:hover {
    border: 1px solid var(--color-blue-medium);
}

.portafolio-rentabilidad-value {
    display: flex;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    /* padding-right: 12px; */
    /* padding-top: 3px; */;
}

.portafolio-rentabilidad-value .img-increase {
    width: 10px;
    height: 12px;
    padding-right: 6px;
}

.portafolio-rentabilidad-detalle {
    margin: 10px auto 5px;
    text-align: center;
}

.portafolio-rentabilidad-link:hover {
    color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}

.portafolio-rentabilidad-link {
    transition: all 0.3s ease;
    font-family: var(--font-primary-medium);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

.chart-portafolio {
    width: 100%;
    position: relative;
}

.card-portafolios-main .card-portafolios-chart {
    padding: 0 20px !important;
}

.card-portafolios-main {
    margin-bottom: 0 !important;
}

.card-portafolios .slider-arrow {
    top: calc(50% - 3px);
}
/*Portafolios New*/

.card-portafolios-content {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.card-portafolios-header {
    display: flex;
    justify-content: space-between;
    /*border-bottom: 1px solid var(--color-gray3);*/
    align-items: center;
    margin-top: 20px;
}

.card-portafolios-select {
    border-right: 1px solid var(--color-gray-light);
}

.card-portafolios-search {
    padding-right: 4px;
    position: relative;
}

.card-portafolios-input {
    padding: 5px;
    font: 12px var(--font-primary);
    border-radius: 0;
    border: 1px solid var(--color-gray2);
}

.card-portafolios-body {
    display: flex;
    box-sizing: border-box;
/*    overflow: hidden;*/
    /* padding: 10px; */;
}

.portf-n-20 {
    width: calc(100% - 20px);
}

.spacer-evol-hist {
    display: flex;
    flex-direction: column;
}

.expand-evol-hist {
    position: relative;
    min-width: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0px;
}
/* .expand-evol-hist:hover{
    zoom: 150%;
} */
.card-portafolios-body-table {
    width: 100%;
    /*border-right: 1px solid var(--color-gray3);*/
    padding: 8px 0px 8px 0px;
}

.card-portafolios-body-right {
    width: 45%;
    padding: 10px;
}

.portafolio-rentabilidad-detail {
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    color: white;
    cursor: pointer;
}

.portafolio-rentabilidad-detail .portafolio-rentabilidad-module {
    color: var(--color-blue-medium);
}

.portafolio-rentabilidad-detail .icon {
    margin-left: 5px;
}

.inteligo-portfolio-risk {
    display: flex;
}

.risk-label {
    display: flex;
}
/* ESTADOS DE LAS ETIQUETAS DE PERFIL DE RIESGO // NORMAL: COLOR NEGRO // WARNING: ROJO // CATION: NARANJA */
.risk-label .label--alert-normal {
    font: 12px var(--font-primary-bold);
    padding-right: 4px;
    color: #191A1B;
}

.risk-label .label--alert-warning {
    font: 12px var(--font-primary-bold);
    padding-right: 4px;
    color: #C73723;
}

.risk-label .label--alert-caution {
    font: 12px var(--font-primary-bold);
    padding-right: 4px;
    color: #f24822;
}
/* FIN DE LAS ETIQUETAS DE PERFIL */

.risk-label span {
    font: 12px var(--font-primary-bold);
    padding-right: 4px;
}

.type-risk {
    padding-top: 9px;
}

.type-risk-name {
    font: 18px var(--font-primary);
}

.alerta-perfil {
    font: 14px var(--font-primary);
    padding-top: 4px;
}

.alerta-perfil--sinperfil {
    font: 20px var(--font-primary);
    padding-top: 4px;
}

.alerta-perfil::before {
    content: url('../../../../private/organisms/icon/img/icon-warning-t.svg');
    color: #C73723;
    padding-right: 6px;
}

.alerta-perfil-link {
    color: var(--color-primary);
    content: "";
    border-bottom: 1px solid var(--color-primary);
    cursor: pointer;
    text-decoration: none;
}
/* .alerta-perfil-link:active, .alerta-perfil-link:focus, .alerta-perfil-link:visited {
    color: red;
    border-bottom: 1px solid red;
} */
.profile-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 9px;
    width: 158px;
    height: 32px;
    background: #EEF5FE;
    margin-top: 9px;
    position: absolute;
    right: 0;
}

.viewer-img {
    padding-top: 5px;
    padding-right: 4px;
}

.viewer-descript {
    font: 14px var(--font-primary-medium);
    color: var(--color-blue-dark);
    line-height: 16px;
    white-space: nowrap;
}

.portfolio-selector span {
    font: 12px var(--font-primary-semibold);
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 4px;
}

.select select {
    font: 16px var(--font-primary);
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 8px 12px;
    outline: 0;
    border: 1px solid #aaaeb3;
    border-radius: 0px;
    background: #ffffff;
    color: #191a1b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover, .select select:focus {
    color: #191a1b;
    background: #ffffff;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #191a1b;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover~.select_arrow, .select select:focus~.select_arrow {
    border-color: #1148c6;
}

.select select:disabled~.select_arrow {
    border-top-color: #cccccc;
}

.separator-portfolio {
    width: 2px;
    height: 40px;
    background: #dde1e6;
    margin-left: 56px;
    margin-right: 12px;
    margin-top: 9px;
}

.tab-table {
    border: 1px solid var(--color-dark-s);
    border-radius: 0px;
    background: var(--color-white);
    font: 14px var(--font-primary-medium);
    color: #191a1b;
    /* margin-left: 10px; */
    display: grid;
    grid-template-columns: 50% 50%;
    width: 330px;
}

.tab-table button {
    margin: 4px 0px;
}

.tab-table .mrg-btn-lft {
    margin-left: 4px;
    margin-right: -1px;
}

.tab-table .mrg-btn-rgth {
    margin-right: 4px;
    margin-left: -2px;
}

.tab-table-selector {
    padding: 8px 12px;
    border: 0px;
    border-radius: 0px;
    background: var(--color-white);
    white-space: nowrap;
}

.tab-table-selector:hover {
    background: #eef5fe;
}

.tab-table-selector.active {
    background: var(--color-primary);
    color: var(--color-white);
}

.currency-and-tools {
    display: flex;
    /* padding-right: 10px; */;
}

.currency-and-tools .currency-label {
    font: 14px var(--font-primary);
    padding: 11px 24px;
    padding-right: 0;
}

.currency-and-tools .table-tools-button {
    font: 14px var(--font-primary-semibold);
    padding: 8px 12px 8px 12px;
    background: var(--color-white);
    border: 1px solid #c7c7c2;
    height: 42px;
}

.mrg-0-auto {
    margin: 0px auto;
}
/* ICONO TOOLTIP CAMBIOS DE COLOR */

.help-tooltip {
    opacity: 60%;
}

.help-tooltip:hover {
    opacity: 100%;
}
/* tooltip card 1 RIESGO */

.tooltip-black {
    display: inline-block;
    position: relative;
    text-align: left;
    transition: all .9s ease;
}

.tooltip-black .bottom-black {
    min-width: 200px;
    max-width: 234px;
    top: 30px;
    left: 150%;
    transform: translate(-20%, 0);
    padding: 8px 16px;
    color: #ffffff;
    background-color: #393939;
    font-weight: normal;
    font: 14px var(--font-primary);
    border-radius: 2px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    display: none;
}

.tooltip-black:hover .bottom-black {
    display: block;
}

.tooltip-black .bottom-black i {
    position: absolute;
    bottom: 100%;
    left: 12%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.tooltip-black .bottom-black i::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: #393939;
}

/* BOTÓN PERSONALIZAR */

.dropdown-cardportf {
    display: inline-block;
    position: relative;
    height: 40px;
}

.panel-checkbox {
    display: flex;
}

.panel-a {
    padding: 18px 20px 0 0;
}

.panel-b {
    padding: 18px 20px 0 0;
}

.panel-c {
    padding: 18px 20px 0 0;
}

.panel-d {
    padding-top: 18px;
}

.dd-button-cardportf {
    display: inline-block;
    font: 14px var(--font-primary-semibold);
    border: 1px solid gray;
    padding: 11px 12px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    height: 40px;
}

/* .dd-button-cardportf:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
} */

.dd-button-cardportf:hover {
    border: 1px solid var(--color-primary);
}

.dd-input-cardportf {
    display: none;
}

.dd-menu-cardportf {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    padding: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input-cardportf+.dd-menu-cardportf {
    display: none;
}

.dd-input-cardportf:checked+.dd-menu-cardportf {
    display: block;
    right: 0px;
    padding: 20px;
    z-index: 1;
}

.contador-checkbox {
    /*padding: 0px 20px;*/
    margin-top: 20px;
    font: 14px var(--font-primary-medium);
}

.control-cardportf {
    font: 12px var(--font-primary);
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    padding-top: 3px;
    cursor: pointer;
    white-space: nowrap;
}

.control-cardportf input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #C2C7CC;
    border-radius: 0px;
}

.control-cardportf:hover input~.control_indicator,
.control-cardportf input:focus~.control_indicator {
    background: #0e6647d;
}

.control-cardportf input:checked~.control_indicator {
    background: #2765F5;
}

.control-cardportf:hover input:not([disabled]):checked~.control_indicator,
.control-cardportf input:checked:focus~.control_indicator {
    background: #0e6647d;
}

.control-cardportf input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control-cardportf input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #C2C7CC;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(1);
    }

    60% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.control-checkbox input+.control_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked+.control_indicator::before {
    animation-name: s-ripple-dup;
}

.ovrf-vsbl {
    overflow: visible;
}

.dd-cardportf-cta {
    display: flex;
    justify-content: space-between;
    max-width: 284px;
    margin-right: 0;
    margin-left: auto;
    padding-top: 4px;
}

.dd-cardportf-cta .cta-dd-button {
    border-radius: 0px;
    padding: 6px 24px;
}

.personalizar-option {
    flex-grow: 1;
    width: 33%;
    padding-right: 20px;
}

.personalizar-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}

.active .personalizar-main {
    transform: scale(1);
    opacity: 1;
}

.personalizar-main {
    position: absolute;
    top: 42px;
    right: 0;
    z-index: 2;
    border: 1px solid #ccc;
    padding: 24px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    transform: scale(0);
    transition: all .3s ease;
    transform-origin: right top;
    opacity: 0;
}

.personalizar-title {
    margin-bottom: 15px;
    font: 14px var(--font-primary-medium);
    color: #313334;
    position: relative;
    z-index: 1;
}

.personalizar-buttons {
    display: flex;
    justify-content: flex-end;
    max-width: inherit;
    margin-right: 0;
    margin-left: 0;
    padding-top: 20px;
}

.personalizar {
    position: relative;
}

.personalizar-close {
    position: absolute;
    right: 20px;
    top: 20px;
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;
}