/*
 * Button actions
 * @author mfyance
 */

.button-actions{
  background: var(--color-secondary);
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  font: 14px var(--font-primary-medium);
  color: #fff;
}
.button-actions:not(.disabled):not([disabled]):hover {
  background: var(--color-secondary-hover);
}


.buttons-actions-content .button-actions{
    width: calc(100% / 3) !important;
    min-width: inherit;
    max-width: inherit;
}

.buttons-actions-mobile{
	display: none;
}

.buttons-block-left{
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 500px;
}
.buttons-block-right{
  display: flex;
  gap: 4px;
}
.buttons-block-main .button{
	width: 100%;
}
.buttons-block-main{
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1025px){
	.buttons-desktop{
		display: flex;
	}
	.buttons-mobile{
		display: none;
	}
}
@media screen and (max-width: 1024px){
	.buttons-block-main .button{
		width: 100%;
		min-width: auto;
	}
	.buttons-desktop{
		display: none;
	}
	.buttons-mobile{
		display: flex;
	}
	.buttons-actions-content .button-actions.buttons-mobile{
    white-space: nowrap;
    width: 100% !important;
 }
	.buttons-block-main,
	.buttons-block-right,
	.buttons-block-left{
		gap: 4px;
		max-width: initial;
	}
}

@media screen and (max-width: 700px){
	.buttons-block-main{
		flex-direction: column;
	}
	.buttons-actions-mobile{
		display: flex;
	    width: 100%;
	    gap: 20px;
	}
	.buttons-actions-mobile .button-actions {
	    width: 100%;
	    max-width: 100%;
	    color: white;
	    gap: 6px;
	}
	.buttons-block-left{
		flex-direction: column;
	}
	.buttons-block-main,
	.buttons-block-right,
	.buttons-block-left{
	    gap: 4px !important;
	}
}


