/*
 * Cardbox
 * @author mfyance
 */


.main-card-box {
    background: #fff;
    overflow: hidden;
    position: relative;
    padding: 20px;
    box-shadow: 0px 3px 5px rgb(9 30 66 / 20%), 0px 0px 2px rgb(9 30 66 / 31%);
}
.cardbox-back {
    padding: 10px 20px;
    background: #fff;
}

.cardbox-back-link {
    color: var(--color-primary);
    font: 16px var(--font-primary-semibold);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.cardbox-back i {
    margin-right: 4px;
}




@media screen and (max-width: 1279px) {
    .main-card-box.main-card-creditcard{
        margin-top: 12px; 
        padding: 0;
    }
}

@media screen and (max-width: 350px) {
    .main-card-box{
        padding: 10px;
    }
}