/*
 * Slider
 * @author mfyance
 */

 
.slider-arrow:hover{
	opacity: 1;
}

.slider-arrow{
    position: absolute;
    top: calc(50% - 20px);
    z-index: 2;
    opacity: 0.5;
    transition: all .2s ease;
}
.slider-arrow-left{
	left: -5px;
	transform: rotate(180deg);
}
.slider-arrow-right{
	transform: rotate(0deg);
	right: -5px
}



.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 5px !important;
  width: 10px !important;
  height: 10px !important;
}
.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #4f65ad !important;
  text-indent: -9999px;
  width: 10px !important;
  height: 10px !important;
}
.slick-dots li.slick-active button {
  background-color: #fff !important;
}
.slick-dots li button:before{
	display: none;
}

.slick-dots {
  position: absolute;
  top: 164px;
  left: 35%;
  bottom: inherit !important;
  display: flex !important;
  justify-content: flex-end !important;
  z-index: 1;
}

.slick-slide {
  margin: 0 5px
}


/*Mobile*/
@media screen and (max-width: 400px) {

  .slick-dots{
    /* display: none !important; */
  }
  .slick-slide {
    margin: 0px
  }


}