/*
 * Table
 * @author mfyance
 * @author JCarlosR
 */

.card-portafolios-table {

    /*overflow-y: auto;*/
}

.card-portafolios-table::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

/* Track */

.card-portafolios-table::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

.card-portafolios-table::-webkit-scrollbar-thumb {
    background: #dde1e6;
}

/* Handle on hover */

.card-portafolios-table::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.inteligo-table {
    /* border: 1px solid #ddd; */

    overflow-y: auto;
}

.inteligo-table-noborder {
    border: none;
}

.inteligo-table-thead {
    border-bottom: 1px solid #ddd;
    background: #f2f4f8;
}

.inteligo-table-thead-tr {
    background: #dde1e6;
}

.inteligo-table-thead-th:first-child {
    text-align: left;

    background: #dde1e6;
}

.inteligo-table-thead-th:last-child {
    text-align: right;
}

.inteligo-table-thead-th {
    padding: 7px 10px;
    font: 14px var(--font-primary-semibold);
    color: var(--color-gray-bold);
    text-align: right;
    width: auto;
    max-width: auto;
    overflow: visible;
    text-overflow: ellipsis;
    box-sizing: border-box;
    
}

.inteligo-table-tbody {
    background: #f2f4f8;
}

.inteligo-table-tbody-tr {
    border-bottom: 1px solid var(--color-gray3);
}

.inteligo-table-tbody-tr:hover {
    background: #E7EAEE;
}

.inteligo-table-tbody-tr:last-child {
    /*border-bottom: none*/
}

.inteligo-table-tbody-td:first-child {
    text-align: left;
}

.inteligo-table-tbody-td:last-child {
    text-align: right;
}



.inteligo-table-tbody-td {
    padding: 7px 14px;
    font: 14px var(--font-primary);
    color: var(--color-gray-bold);
    text-align: right;
    width: calc(100% / 4);
    max-width: calc(100% / 4);
    vertical-align: middle;
    line-height: 17px;
    display: table-cell;
}

.inteligo-table-tbody-td-blue {
    padding: 7px 16px;
    font: 14px var(--font-primary-semibold);
    color: var(--color-primary);
    white-space: nowrap;
    max-width: 195px;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
}

.link-table-blue>i{
    padding-right: 3px;
}
.link-table-blue:hover{
    text-decoration: none !important;
}
.link-table-blue {
    font: 14px var(--font-primary-semibold);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    text-decoration: none !important;
    cursor: initial ;
}


.inteligo-table-tfoot {
    background: #f7f7f7;
    position: sticky;
    bottom: 0px;
}

.inteligo-table-tfoot-tr {
    background: #f2f4f8;
}

.inteligo-table-tfoot-td:first-child {
    text-align: left;
}

.inteligo-table-tfoot-td:last-child {
    text-align: right;
}

.inteligo-table-tfoot-td {
    padding: 7px 16px;
    font: 14px var(--font-primary-semibold);
    color: #313334;
    text-align: right;
    background: #DDE1E6;
}

.flex-table-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-end;
    justify-content: space-between;
    /* width: 110px; */
}

.inteligo-row-table:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-right: 4px;
}

.inteligo-row-table:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.inteligo-row-table:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.green-value {
    color: #48A17E;
}

.red-value {
    color: #C73723;
}

.td-green{
    color: #48A17E;
}
.td-red{
    color: #C73723;
}
.td-green-arrow:before{
    content: "";
    height: 0;
    width: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 7px solid #48a17e;
    align-content: center;
    margin-bottom: 5px;
    margin-right: 5px;
}
.td-green-arrow{
    color: #48A17E;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.td-red-arrow{
    color: #C73723;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.td-red-arrow:before{
    content: "";
    height: 0px;
    width: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 7px solid #C73723;
    align-content: center;
    margin-bottom: -6px;
    margin-right: 5px;
}

.td-black{
    color: #313334;
    font-weight: 600;
}


/*Table into Modals*/
.inteligo-modal-table thead th{
    background: #DDE1E6;
    font:14px var(--font-primary-medium);
    color: #313334;
    text-align: left;
    padding: 10px 15px;
}
.inteligo-modal-table tbody td[data-estado="0"]{
    color: #C73723;
}
.inteligo-modal-table tbody td{
    background: #F2F4F8;
    font:14px var(--font-primary);
    color: #191A1B;
    text-align: left;
    padding: 10px 15px;
}

/*end*/

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .inteligo-table-thead-th:first-child {
        text-align: left;
        width: 140px;
        background: #dde1e6;
    }

    .inteligo-table-thead-th {
        padding: 7px 13px;
    }
}