
.chart-tooltip{
    border-radius: 0 !important;
    padding: 1px 12px 3px 12px !important;
    background: var(--color-primary);
    color: white;
    position: relative;
    border: none !important;
    text-align: center;
    font-family: var(--font-primary) !important;
}

.chart-tooltip-value,
.chart-tooltip-bottom{
    font: 14px var(--font-primary-semibold) !important;
    color: white;
    position: relative;
    margin-top: 0px;
}
.chart-tooltip-value{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-tooltip-top,
.chart-tooltip-date{
    font:12px var(--font-primary-light);
    margin: 0 auto;
    color: white;
    position: relative;
    display: inline-flex;
}

.chart-tooltip-money{
    padding-right: 4px;
}

.chart-tootlip-hover{
    min-width: 120px;
    width: auto;
    height: 300px;
    position: absolute;
    display: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 12px;
    color: '#20262E';
    background-color: rgba(255, 255, 255, 0.23);
    text-align: left;
    z-index: 1000;
    top: 12px;
    left: 12px;
    pointer-events: none;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
    /*box-shadow: 0 2px 5px 0 rgba(117, 134, 150, 0.45);*/
}