/*
 * Card Análisis
 * @author mfyance
 */

.card-analisis {
	/*padding: 9px;*/
}

.card-analisis-content {
	border: 1px solid var(--color-gray3);
	box-sizing: border-box;
	overflow: hidden;
}

.card-analisis-header {

	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-gray3);
	align-items: center;
}

.card-analisis-button {

	padding-right: 7px;
	position: relative;
}

.card-analisis-body {

	display: flex;
	box-sizing: border-box;
	overflow: hidden;
}


.card-analisis-select {
	border-right: 1px solid var(--color-gray-light);
}

.card-analisis-search {
	padding-right: 3px;
}

.analisis-title {
	font: 18px var(--font-primary-bold);
	color: #233E99;
	margin-bottom: 16px;
	position: relative;
	z-index: 1;
}

.analisis-subtitle {
	font: 12px var(--font-primary-semibold);
	color: #191A1B;
}

.analisis-info-tooltip {
	position: relative;
	margin-left: 5px;
	cursor: pointer;
}

.analisis-info-text {
	font: 18px var(--font-primary);
	color: #191A1B;
}

.analisis-info {
	display: flex;
	align-items: center;
	padding-top: 2px;
}

.analisis-sections {

	display: flex;
}

.analisis-section-block:first-child {
	margin-left: 0;
	border-left: none;
	padding-left: 0;
	width: 266px;
}
.analisis-section-subblock:after{
	content: "";
	height: 70px;
	width: 1px;
	background: #000;
}
.analisis-section-subblock {
	border-left: 2px solid #DDE1E6;
	padding-left: 15px;
	margin-top: 25px;
}

.analisis-section-block {
	padding-right: 50px;
}


.analisis-valorportafolio-right a {
	font: 16px var(--font-primary-semibold);
	color: #2765F5;
	transition: all .3s ease;
	border-bottom: 1px solid transparent;
	line-height: 24px;
}

.analisis-valorportafolio-right a:hover {

	color: var(--color-secondary);
}


.analisis-valorportafolio-left b {
	color: #191A1B;
	font-family: var(--font-primary-bold);
	padding-left: 5px;
	padding-right: 5px;
}

.analisis-valorportafolio-left i {
	margin-right: 10px;
}

.analisis-valorportafolio-left {

	font: 16px var(--font-primary);
	display: flex;
	align-items: center;
}

.analisis-valorportafolio {

	display: flex;
	margin-top: 24px;
	padding: 12px 16px;
	background: #F2F4F8;
	justify-content: space-between;
	position: relative;
}

.analisis-dinamico {

	margin-top: 12px;
}

.analisis-dinamico-content {
	/* max-width: 85%; */
	/* margin: 0px 45px; */
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.analisis-grafico {
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px;
	align-items: center;
}

.analisis-grafico .cleaner {
	/* padding-top: 41px; */
}

.analisis-grafico-info {
	display: flex;
	max-width: 358px;
	width: 100%;
	background: #EEF6FF;
	padding: 20px;
	box-sizing: border-box;
}

.analisis-grafico-txt b {
	color: var(--color-primary-hover);
}

.analisis-grafico-txt {
	padding-left: 10px;
	color: #313334;
	font: 14px var(--font-primary-medium);
	width: calc(100% - 20px);
	line-height: 22px;
}

.analisis-graficospie {
	display: flex;
	justify-content: space-between;
	max-width: 378px;
	/* padding-left: 50px; */
	/* padding-left: 50px; */
	width: 100%;
	flex-direction: row;
	column-gap: 64px;
}

.analisis-graficospie-title b {
	margin-left: 5px;
}

.analisis-graficospie-title {
	width: 100%;
	text-align: center;
	font: 14px var(--font-primary);
	color: #191A1B;
}

.analisis-graficospie-left,
.analisis-graficospie-right {}

.analisis-graficospie-left>div,
.analisis-graficospie-right>div {
	display: flex;
	justify-content: center;
}

.analisis-table-content {
	margin: 0;
}

.analisis-clase:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 0px;
	width: 10px;
	height: 10px;
	background: transparent;
	border-radius: 50%;
}

.analisis-clase {
	padding-left: 20px;
	position: relative;
}

.analisis-ventajas {
	border: 1px solid #DDE1E6;
	padding: 15px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 10px 0;
}

.analisis-ventajas-info b {
	color: var(--color-primary-hover);
}

.analisis-ventajas-info {
	color: #313334;
	font: 16px var(--font-primary-medium);
	line-height: 24px;
	display: flex;
}

.analisis-table thead th {

	padding: 13px 15px;
	font: 14px var(--font-primary-bold);
	color: #394145;
}

.analisis-table tfoot td {

	padding: 13px 15px;
	font: 14px var(--font-primary-bold);
	color: #394145;
}

.analisis-table tfoot {

	background: #F2F4F8;
}

.analisis-table thead {

	background: #DDE1E6;
}

.analisis-table tfoot tr,
.analisis-table tbody tr {
	border-bottom: 1px solid #DDE1E6;
}

.analisis-table tbody td {
	position: relative;
	padding: 7px 15px;
	font: 14px var(--font-primary-semibold);
	color: #394145;
	vertical-align: middle;
}

.analisis-table tbody {}

.analisis-table {}

.analisis-status {
	display: inline-flex;
	align-items: center;
	padding: 3px 6px;
	font: 12px var(--font-primary-bold);
	text-transform: uppercase;
	border-radius: 4px;
}

.analisis-mstatus-error .analisis-status,
.analisis-status-error {

	color: #C73723;

	background: #FFF1F1;
}

.analisis-mstatus-success .analisis-status,
.analisis-status-success {

	color: #488981;
	background: #E8FCED;
}

.analisis-mtable-box.analisis-mstatus-success:last-child,
.analisis-mtable-box.analisis-mstatus-success {
	border: 3px solid #488981;
}

.analisis-status-text {
	margin-left: 5px;
}

.analisis-table-estado {
	width: 200px;
}

.analisis-mobile-legenda {
	display: none;
}

.analisis-mlegenda-list li {
	padding-left: 10px
}

.analisis-mlegenda-list li:after {
	content: "";
	background: transparent;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 3px;
	left: 0px;
}

.analisis-mlegenda-list li {
	font: 15px var(--font-primary);
	color: #191A1B;
	position: relative;
	padding-left: 15px;
}

.analisis-mlegenda-list {
	border: 2px solid #DDE1E6;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 4px;
}

.analisis-mtable {
	display: none;

}

.analisis-mtable-body {

	/* border: 3px solid #DDE1E6; */

	/* padding: 12px; */

	box-sizing: border-box;
}

.analisis-mtable-box:last-child {
	border-bottom: 3px solid #DDE1E6;
}

.analisis-mtable-box {

	padding: 12px;
	border: 3px solid #DDE1E6;
	border-bottom: 0;
}



.analisis-mtable-title:after {
	content: "";
	background: transparent;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 5px;
	left: 1px;
}

.analisis-mtable-title {

	font: 15px var(--font-primary-medium);
	color: #313334;
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
}

.analisis-mtable-head {
	display: flex;
	justify-content: space-between;
	background: #DDE1E6;
	color: #191A1B;
	padding: 10px 15px;
	font: 15px var(--font-primary-bold);
}

.analisis-mtable-box-top {
	margin-bottom: 5px;
}

.analisis-mtable-box-bottom {
	padding: 0 20px
}

.analisis-statistic-arrow {
	position: absolute;
	left: 47%;
	transform: translateY(-50%);
	top: calc(50% - 5px);
}

.analisis-mtable-statistic {
	margin-top: 15px;
	display: flex;
	position: relative;
}

.analisis-statistic-optimo,
.analisis-statistic-actual {
	width: 50%;
}

.analisis-statistic-number {
	font: 28px var(--font-primary-bold);
	margin-bottom: 8px;
}

.analisis-statistic-tag {
	padding: 4px 8px;
	border-radius: 3px;
	font: 14px var(--font-primary-semibold);
	display: inline-block;
	text-transform: uppercase;
}

.analisis-statistic-actual .analisis-statistic-tag {
	background: #F2F4F8;
	color: #494B4E;
}

.analisis-statistic-optimo .analisis-statistic-tag {
	background: #EDF5FF;
	color: #0043CE;
}

.analisis-statistic-actual .analisis-statistic-number {
	color: #313334;
}

.analisis-statistic-optimo .analisis-statistic-number {
	color: #233E99;
}

.analisis-statistic-optimo {
	text-align: right;
}



.analisis-detail:hover{
	color: var(--color-secondary);
	transition: all .3s ease;
}
.analisis-detail{
	font: 14px var(--font-primary-medium);
	color: var(--color-primary);
	text-decoration: underline;
	cursor: pointer;
}



/*Colores Clase de activo	*/
.analisis-mlegenda-list li[data-circle="CE"]:after,
.analisis-table tbody tr[data-circle="CE"] .analisis-clase:after,
.analisis-mtable-box[data-circle="CE"] .analisis-mtable-title:after {
	background: #80CBC4;
}

.analisis-mlegenda-list li[data-circle="RF"]:after,
.analisis-table tbody tr[data-circle="RF"] .analisis-clase:after,
.analisis-mtable-box[data-circle="RF"] .analisis-mtable-title:after {
	background: #00C853;
}

.analisis-mlegenda-list li[data-circle="RV"]:after,
.analisis-table tbody tr[data-circle="RV"] .analisis-clase:after,
.analisis-mtable-box[data-circle="RV"] .analisis-mtable-title:after {
	background: #01579B;
}

.analisis-mlegenda-list li[data-circle="RA"]:after,
.analisis-table tbody tr[data-circle="RA"] .analisis-clase:after,
.analisis-mtable-box[data-circle="RA"] .analisis-mtable-title:after {
	background: #FFAB00;
}



.analisis-mtable-vermas{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font: 14px var(--font-primary);
    color: var(--color-primary);
}

.analisis-section-blockes{
	display: flex;
}