/*
 * Icon
 * @author mfyance
 * @author mfyance
 */

.icon{
    background-size: contain;
    display: inline-flex;
    background-position: center;
    background-repeat: no-repeat;
}

/* insights */

.icon-risk{
    height: 40px;
    width: 40px;
    background-image: url(img/icon-risk.svg);
}
.icon-bag{
    height: 40px;
    width: 40px;
    background-image: url(img/icon-bag.svg);
}
.icon-comunications{
    height: 40px;
    width: 40px;
    background-image: url(img/icon-comunications.svg);
}
.icon-alert{
    height: 40px;
    width: 40px;
    background-image: url(img/icon-alert.svg);
}
.icon-ksh{
    height: 40px;
    width: 40px;
    background-image: url(img/icon-ksh.svg);
}
.icon-ins-l{
    height: 42px;
    width: 37px;
    background-image: url(img/icon-ins-arrow--L.svg);
}
.icon-ins-r{
    height: 42px;
    width: 37px;
    background-image: url(img/icon-ins-arrow--R.svg);
}

/*Header*/
.icon-user{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-user.svg);
}
.icon-help{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-help.svg);
}
.icon-campaign{
    height: 22px;
    width: 20px;
    background-image: url(img/icon-campaign.svg);
}
.icon-info{
    height: 22px;
    width: 20px;
    background-image: url(img/icon-info.svg);
}
.icon-info2{
    height: 25px;
    width: 25px;
    background-image: url(img/icon-info2.svg);
}
.icon-info-3{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-info-3.svg);
}
.icon-info-4{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-info-4.svg);
}
.icon-config{
    height: 22px;
    width: 20px;
    background-image: url(img/icon-config.svg);
}

.icon-logout{
    height: 22px;
    width: 20px;
    background-image: url(img/icon-logout.svg);
}
/*end Header*/


/*Sidebar*/
.icon-patrimonio{
    height: 17px;
    width: 17px;
    background-image: url(img/icon-patrimonio-2.svg);
}
.icon-patrimonio-2{
    height: 17px;
    width: 17px;
    background-image: url(img/patrimonio-azul.svg);
}
.icon-cash{
    height: 17px;
    width: 17px;
    background-image: url(img/cash-azul.svg);
}
.icon-cash-s{
    height: 18px;
    width: 18px;
    background-image: url(img/cash-grey.svg);
}
.icon-mis-inversiones-azul{
    height: 17px;
    width: 17px;
    background-image: url(img/mis-inversiones-azul.svg);
}
.icon-productos-bancarios{
    height: 17px;
    width: 17px;
    background-image: url(img/icon-productos-bancarios-2.svg);
}
.icon-asesoria-digital{
    height: 17px;
    width: 17px;
    background-image: url(img/icon-asesoria-digital.svg);
}

.icon-purchase{
    height: 17px;
    width: 20px;
    background-image: url(img/icon-purchase.svg);
}
.icon-purchase-white{
    height: 25px;
    width: 39px;
    background-image: url(img/icon-purchase-white.svg);
}
.icon-purchase-2{
    height: 11px;
    width: 15px;
    background-image: url(img/icon-purchase-2.svg);
}
.active.visa-card{
    height: 198px;
    width: 302px;
    background-image: url(img/credit-card-grey.svg);
}
.visa-card{
    height: 174px;
    width: 270px;
    background-image: url(img/credit-card.svg);
    
}
.icon-currency{
    height: 17px;
    width: 17px;
    background-image: url(img/icon-currency.svg);
}
.icon-currency-2{
    height: 17px;
    width: 17px;
    background-image: url(img/icon-currency-2.svg);
}

.icon-piggy{
    height: 17px;
    width: 17px;
    background-image: url(img/icon-piggy.svg);
}
.icon-piggy-s{
    min-width: 18px;
    height: 18px;
    min-height: 18px;
    width: 18px;
    background-image: url(img/icon-piggy-grey.svg);
}

/*end Sidebar*/


/*Notify*/
.icon-info{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-info.svg);
}

/*Modal*/
.icon-close{
    height: 12px;
    width: 12px;
    background-image: url(img/icon-close.svg);
}

.icon-abono-calendar{
    height: 65px;
    width: 65px;
    border: none;
    background-color: transparent;
    background-image: url(img/icon-abono-calendar.svg);
    background-size: cover;
}


.icon-bancarios-tarjeta{
    height: 120px;
    width: 180px;
    border: none;
    background-color: transparent;
    background-image: url(img/icon-bancarios-tarjeta.svg);
    background-size: cover;
}

/*end Menu Sidebar*/



/*Menu Toolbar*/
.icon-documento{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-documento.svg);
}
.menu-patrimonio{
    height: 17px;
    width: 17px;
    background-image: url(img/menu-patrimonio.svg);
}
.menu-patrimonio.active{
  background-image: url(img/menu-patrimonio-2.svg);    
}
.menu-documento{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-documento-1.svg);
}
.menu-icon.active .menu-documento{
    background-image: url(img/menu-documento-2.svg);
}


.menu-inicio{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-inicio-1.svg);
}
.menu-icon.active .menu-inicio{
    background-image: url(img/menu-inicio-2.svg);
}

.menu-invierta{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-invierta-1.svg);
}
.menu-icon.active .menu-invierta{
    background-image: url(img/menu-invierta-2.svg);
}

.menu-mas{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-mas-1.svg);
}
.menu-icon.active .menu-mas{
    background-image: url(img/menu-mas-2.svg);
}

.menu-operacion{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-operacion-1.svg);
}
.menu-icon.active .menu-operacion{
    background-image: url(img/menu-operacion-2.svg);
}

.menu-mirentabilidad{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-mirentabilidad.svg);
}
.menu-miagenda{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-miagenda-2.svg);
}
.menu-configuracion{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-configuracion.svg);
}
.menu-cerrarsesion{
    height: 22px;
    width: 22px;
    background-image: url(img/menu-cerrarsesion.svg);
}


/*=====*/
.icon-menu-inicio{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-inicio.svg);
}
.icon-menu-documentos{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-documentos.svg);
}
.icon-menu-rentabilidad{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-rentabilidad.svg);
}
.icon-menu-agenda{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-agenda.svg);
}
.icon-menu-configuracion{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-configuracion.svg);
}
.icon-menu-cerrarsesion{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-cerrarsesion.svg);
}
.icon-menu-patrimonio{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-patrimonio.svg);
}
.icon-menu-invierta{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-invierta.svg);
}
.icon-menu-operaciones{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-operaciones.svg);
}
.icon-menu-vermas{
    height: 22px;
    width: 22px;
    background-image: url(img/icon-menu-vermas.svg);
}

.active .icon-menu-inicio{
    background-image: url(img/icon-menu-inicio2.svg);
}
.active .icon-menu-documentos{
    background-image: url(img/icon-menu-documentos2.svg);
}
.active .icon-menu-rentabilidad{
    background-image: url(img/icon-menu-rentabilidad2.svg);
}
.active .icon-menu-agenda{
    background-image: url(img/icon-menu-agenda2.svg);
}
.active .icon-menu-configuracion{
    background-image: url(img/icon-menu-configuracion2.svg);
}
.active .icon-menu-cerrarsesion{
    background-image: url(img/icon-menu-cerrarsesion2.svg);
}
.active .icon-menu-patrimonio{
    background-image: url(img/icon-menu-patrimonio2.svg);
}
.active .icon-menu-invierta{
    background-image: url(img/icon-menu-invierta2.svg);
}
.active .icon-menu-operaciones{
    background-image: url(img/icon-menu-operaciones2.svg);
}
.active .icon-menu-vermas{
    background-image: url(img/icon-menu-vermas2.svg);
}
/*end Menutoolbar*/

/*Arrows*/
.icon-arrow-blue{
    height: 12px;
    width: 15px;
    background-image: url(img/icon-arrow-blue.svg);
    margin-right: 2px;
}
.icon-arrow-red{
    height: 14px;
    width: 12px;
    background-image: url(img/icon-arrow-red.svg);
    margin-right: 2px;
}
.icon-arrow-green{
    height: 14px;
    width: 12px;
    background-image: url(img/icon-arrow-green.svg);
    margin-right: 2px;
}
.icon-arrow-white{
    height: 14px;
    width: 12px;
    background-image: url(img/icon-arrow-white.svg);
    margin-right: 2px;
}
.icon-arrow-sky{
    height: 14px;
    width: 12px;
    background-image: url(img/icon-arrow-sky.svg);
    margin-right: 2px;
}

.icon-arrow {
  border: solid #313334;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
}
.icon-arrow--is-sky{
    border-color: var(--color-primary);
}

.icon-arrow-r{
    height: 17px;
    width: 17px;
    background-image: url(img/icon-arrow-r.svg);
}
.icon-arrow-r-2{
    height: 17px;
    width: 17px;
    background-image: url(img/icon-arrow-r.svg);
}

.icon-arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.icon-arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.icon-arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.icon-arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.icon-arrow-purple{
    width: 16px;
    height: 16px;
    background-image: url(img/icon-arrow-purple.svg);
}
.icon-arrow-w{
    height: 16px;
    width: 16px;
    background-image: url(img/icon-arrow-white.svg);
}
/*end Arrows*/

/*Modals*/
.icon-modal-alert{
    height: 45px;
    width: 45px;
    background-image: url(img/icon-modal-alert.svg);
    margin-right: 2px;
}
.icon-modal-travel{
    height: 45px;
    width: 45px;
    background-image: url(img/icon-modal-travel.svg);
    margin-right: 2px;
}

.icon-modal-success{
    height: 45px;
    width: 45px;
    background-image: url(img/icon-modal-success.svg);
    margin-right: 2px;
}
.icon-modal-congratulations{
    height: 40px;
    width: 40px;
    background-image: url(img/icon-modal-congratulations.svg);
    margin-right: 2px;
}
/*end Modals*/

/*Variados*/
.inteligo-mobile-open .icon-burger{
    background-image: url(img/icon-burger-close.svg);
}
.icon-burger{
    height: 15px;
    width: 15px;
    background-image: url(img/icon-burger-open.svg);
    margin-right: 2px;
}
.icon-ilife{
    height: 35px;
    width: 35px;
    background-image: url(img/logo-ilife-2.svg);
}
.icon-resize{
    height: 28px;
    width: 28px;
    background-image: url(img/icon-resize.svg);
}
.icon-slider{
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;
    background-image: url(img/icon-slider.svg);
    background-size: cover;
}
/*end Variados*/

/*Portafolio*/
.icon-triangle-up{
    height: 12px;
    width: 12px;
    background-image: url(img/icon-triangle-up.svg);
}
.icon-triangle-down{
    height: 12px;
    width: 12px;
    background-image: url(img/icon-triangle-down.svg);
}
.icon-help-s{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-help-s.svg);
    margin-bottom: -3px;
    cursor: pointer;
}
.icon-help-red{
    height: 16px;
    width: 16px;
    background-image: url(img/icon-help-red.svg);
    margin-bottom: -3px;
}
.icon-help-blue{
    height: 18px;
    width: 18px;
    background-image: url(img/icon-help-blue.svg);
    margin-bottom: -3px;
    cursor: pointer;
}
.icon-config-b{
    height: 16px;
    width: 16px;
    background-image: url(img/icon-config.svg);
    margin-bottom: -3px;
    margin-right: 6px;
}
.icon-expand{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-expand.svg);
}
.icon-showmore{
    height: 15px;
    width: 15px;
    background-image: url(img/icon-showmore.svg);
}
.icon-portvalue{
    height: 24px;
    width: 24px;
    background-image: url(img/icon-portvalue.svg);
}
.icon-pie{
    height: 24px;
    width: 24px;
    background-image: url(img/icon-pie.svg);
}
.icon-news{
    height: 28px;
    width: 24px;
    background-image: url(img/icon-news.svg);
}
.icon-status-success{
    height: 23px;
    width: 17px;
    background-image: url(img/icon-status-success.svg);
}
.icon-status-error{
    height: 23px;
    width: 17px;
    background-image: url(img/icon-status-error.svg);
}
.icon-status-alert{
    height: 23px;
    width: 17px;
    background-image: url(img/icon-status-alert.svg);
}
.icon-arrowline-right{
    height: 17px;
    width: 21px;
    background-image: url(img/icon-arrowline-right.svg);
}

.icon-broken{
    height: 28px;
    width: 28px;
    background-image: url(img/icon-broken.svg);
}


.viewer-icon{
    height: 18px;
    width: 18px;
    background-image: url(img/blue-eye.svg);
}
.icon-info-2{
    height: 32px;
    width: 32px;
    background-image: url(img/icon-info-2.svg);
}

.icon-modal-portafolio{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background-image: url(img/icon-modal-portafolio.svg);
}
.icon-modal-contact{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background-image: url(img/icon-modal-contact.svg);
}
.icon-modal-pc{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background-image: url(img/icon-modal-pc.svg);
}
.icon-modal-message{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background-image: url(img/icon-modal-message.svg);
}
.icon-modal-percent{
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
    background-image: url(img/icon-modal-percent.svg);
}

.icon-portafolio{
    height: 35px;
    width: 35px;
    background-image: url(img/icon-portafolio.svg);
}
.icon-arrow-left-grey{
    height: 18px;
    width: 15px;
    background-image: url(img/icon-arrow-left-grey.svg);
}
.icon-excedent-blue{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-excedent-blue.svg);
}
.icon-excedent-green{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-excedent-green.svg);
}
.icon-insufficiency-blue{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-insufficiency-blue.svg);
}
.icon-excedent{
    height: 20px;
    width: 20px;
    background-image: url(img/icon-excedent.svg);
}
.icon-alert-red{
    height: 18px;
    width: 18px;
    background-image: url(img/icon-alert-red.svg);
}
.icon-graphic-pie{
    height: 18px;
    width: 18px;
    background-image: url(img/icon-graphic-pie.svg);
}
.icon-check-blue{
    height: 18px;
    width: 18px;
    background-image: url(img/icon-check-blue.svg);
}

.icon-insight-portfolio{
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    background-image: url(img/icon-insight-portfolio.svg);
}
.icon-insight-profile{
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    background-image: url(img/icon-insight-profile.svg);
}
.icon-insight-profile2{
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    background-image: url(img/icon-insight-profile2.svg);
}
.icon-insight-cash{
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    background-image: url(img/icon-insight-cash.svg);
}
.icon-insight-sobreexpuesto{
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    background-image: url(img/icon-insight-sobreexpuesto.svg);
}
.icon-insight-sobreexpuesto{
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    background-image: url(img/icon-insight-sobreexpuesto.svg);
}

.icon-modal-graphic{
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    background-image: url(img/icon-modal-graphic.svg);
}
.icon-modal-idea{
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    background-image: url(img/icon-modal-idea.svg);
}

.icon-arrow-modal{
    min-width: 10px;
    width: 10px;
    height: 14px;
    min-height: 14px;
    background-image: url(img/icon-arrow-modal.svg);
}
.icon-arrow-blue-right{
    min-width: 28px;
    width: 28px;
    height: 24px;
    min-height: 24px;
    background-image: url(img/icon-arrow-blue-right.svg);
}
.icon-arrow_sky{
    min-width: 40px;
    width: 40px;
    height: 20px;
    min-height: 20px;
    background-image: url(img/icon-arrow_sky.svg);
}
/* CUENTA CORRIENTE */

.icon-global{
    min-width: 39px;
    height: 39px;
    min-height: 39px;
    width: 39px;
    background-image: url(img/icon-global.svg);
}
.icon-global-s{
    min-width: 18px;
    height: 18px;
    min-height: 18px;
    width: 18px;
    background-image: url(img/icon-global-grey.svg);
}
.chevron-right{
    height: 20px;
    width: 20px;
    background-image: url(img/chevron-right.svg);
    min-width: 20px;
    min-height: 20px;
}
.chevron-up{
    height: 14px;
    width: 14px;
    background-image: url(img/chevron-up.svg);
    min-width: 14px;
    min-height: 14px;
}
.icon-home{
    min-width: 39px;
    height: 39px;
    min-height: 39px;
    width: 39px;
    background-image: url(img/icon-home.svg);
}
.icon-arrow-left-blue{
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    width: 30px;
    background-image: url(img/icon-arrow-left-blue.svg);
}
.icon-mail{
    height: 18px !important;
    width: 18px !important;
    min-width: 18px;
    min-height: 18px;
    background-image: url(img/icon-mail.svg);
}
.icon-mail-blue{
    height: 12px !important;
    width: 16px !important;
    min-width: 16px;
    min-height: 12px;
    background-image: url(img/icon-mail-blue.svg);
}
.icon-download{
    height: 18px;
    min-width: 18px;
    width: 18px;
    background-image: url(img/icon-download.svg);
}
.icon-download-blue{
    height: 20px;
    min-width: 20px;
    width: 20px;
    background-image: url(img/icon-download-blue.svg);
}
.icon-printer{
    height: 18px;
    min-width: 18px;
    width: 18px;
    background-image: url(img/icon-printer.svg);
}

/*POP UP MOBILE */
.icon-insert {
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    background-image: url(img/icon-insert.svg);
}
.icon-ordinal {
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    background-image: url(img/icon-ordinal.svg);
}
.icon-devices {
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    background-image: url(img/icon-devices.svg);
}

/* NEW POPUP */
.new-desktop {
    width: 270px;
    height: 470px;
    min-height: 100%;
    min-width: 100%;
    background-image: url(img/new_desktop.svg);
}
.icon-calendar{
    height: 16px;
    min-width: 17px;
    width: 18px;
    background-image: url(img/icon-calendar.svg);
}
.icon-search{
    height: 15px;
    min-width: 15px;
    width: 15px;
    background-image: url(img/icon-search.svg);
}
.icon-delete{
    height: 8px;
    min-width: 8px;
    width: 8px;
    background-image: url(img/icon-delete.svg);
}

.icon-prestamos{
    height: 35px;
    min-width: 35px;
    width: 35px;
    background-image: url(img/icon-prestamos.svg);
}
.icon-question{
    height: 17px;
    min-width: 17px;
    width: 17px;
    background-image: url(img/icon-question.svg);
}
.icon-edit{
    height: 15px;
    min-width: 15px;
    width: 15px;
    background-image: url(img/icon-edit.svg);
}
.icon-modal-edit{
    height: 45px;
    min-width: 45px;
    width: 45px;
    background-image: url(img/icon-modal-edit.svg);
}
.icon-modal-tool{
    height: 45px;
    min-width: 45px;
    width: 45px;
    background-image: url(img/icon-modal-tool.svg);
}