/*
 * Checkbox
 * @author mfyance
 */


.container-checkbox {
    display: flex;
    margin-bottom: 10px;
    flex: 1 1 auto;
}

.container-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.container-checkbox label:visited,
.container-checkbox label:focus-visible,
.container-checkbox label:focus,
.container-checkbox label:active{
    background: #ccc;
}
.container-checkbox label {
  position: relative;
  cursor: pointer;
    font: 14px var(--font-primary);
    color: #202223;
    white-space: pre;
    display: flex;
    align-items: center;
}

.container-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #8c9196;
    border-radius: 3px;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 12px;
    transition: all .3s ease;
}

.container-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.inteligo-mobile .container-checkbox:hover input + label:before {
    border-color: #8c9196
}
.container-checkbox:hover input + label:before {
    border-color: var(--color-primary);
}
.inteligo-mobile .container-checkbox input:checked + label:before ,
.container-checkbox input:checked + label:before {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.container-checkbox input:disabled + label:before {
    background-color: #fff;
    border-color: #c6c6c6;
}
.container-checkbox input:disabled + label{
  color: #929691
}
@media screen and (max-width:1024px) {
  .container-checkbox {
   margin-bottom: 12px;
  }
  .container-checkbox label {
    font: 16px var(--font-primary);
  }

  .container-checkbox input:checked+label:after {
    top: 5px;
  }
}