/*
 * Datepicker
 * @author mfyance
 */

.inteligo-datepicker-input{
    padding: 8px 5px;
    border-radius: 0;
    border: 1px solid #AAAEB3;
    font: 14px var(--font-primary);
    color: #191A1B;
    padding-left: 35px;
    width: 100%;
    text-align: right;
}
.inteligo-datepicker .icon{
    position: absolute;
    left: 9px;
    top: 9px;
    cursor: pointer;
}
.inteligo-datepicker {
    position: relative;
}

.inteligo-mob-datepicker-inline .datepicker-inline{
    width: 100%;
}

.inteligo-datepicker-input.active{
    border-color: var(--color-primary);
}