/*
 * Input
 * @author mfyance
 */

.container-input:focus{
    border-color:  var(--color-primary);
}
.container-input{
    transition: all .3s ease;
    background: #FAFBFC;
    border: 2px solid #DFE1E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    color: #353536;
    font: 16px var(--font-primary);
    /*padding-left: 35px;*/
}

.inteligo-input{
    transition: all .3s ease;
    background: #FAFBFC;
    border: 1px solid #DFE1E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 6px 4px;
    color: #353536;
    font: 16px var(--font-primary);
}
.inteligo-input:focus{
    border-color:  var(--color-primary);
}

.form-content{
    margin-bottom: 10px;
}


/*Crear otro input*/

.inteligo-input-mail .icon{
    position: absolute;
    top: 12px;
    left: 10px;
}
.inteligo-input-mail{
     position: relative;
}
.inteligo-input-mail input{
    padding-left: 40px;   
}
.inteligo-input2{
    transition: all .3s ease;
    border: 1px solid #8D8D8D;
    box-sizing: border-box;
    border-radius: 0;
    width: 100%;
    padding: 10px 4px;
    color: #353536;
    font: 14px var(--font-primary);
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    padding-left: 30px;
}

.inteligo-input2:focus{
    border-color:  var(--color-primary);
}


/*Input para modales*/
.inteligo-input-container{
    position: relative;
    margin-top: 15px;
}
.inteligo-input-text{
    position: relative;
    margin-bottom: 0;
}
.inteligo-input-text input:focus{
    border-color: var(--color-primary);
}
.inteligo-input-text input{
    border:none;
    padding: 10px 16px;
    border-bottom: 1px solid #8D8D8D;
    width: 100%;
    font: 14px var(--font-primary);
    transition: all .3s ease;
}
.inteligo-input-container .icon{
    position: absolute;
    left: 10px;
    top: 16px;
}
.inteligo-input-email input{
    padding-left: 44px !important;
}