
/*
 * Placeholder
 * @author mfyance
 */


::-webkit-input-placeholder {
  font-family: var(--font-primary-light);
  font-size: 12px;
  color: #9E9FA2;
}

:-ms-input-placeholder {
  font-family: var(--font-primary-light);
  font-size: 12px;
  color: #9E9FA2;
}

::placeholder {
  font-family: var(--font-primary-light);
  font-size: 12px;
  color: #9E9FA2;
}
