/*
 * Tooltip
 * @author mfyance
 */

[data-tooltip] {
    position: relative;
    cursor: pointer;
    font: 14px var(--font-primary);
  }
  [data-tooltip]:before,
  [data-tooltip]:after {
    line-height: 1;
    font-size: .9em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    /* display: none; */
    opacity: 0;
    transition: all .3s ease;
    transform: scale(0);
    transform-origin: center;
  }
  [data-tooltip]:before {
    content: "";
    border: 5px solid transparent;
    z-index: 100;
  }
  [data-tooltip]:after {
    content: attr(data-tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 16px;
    border-radius: 4px;
    background: #1148C6;
    color: #FFFFFF;
    z-index: 99;
    transition: all .3s ease;
  }
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    /* display: block; */
    opacity: 1;
    transform: scale(1);
  }
  [data-tooltip]:not([data-flow])::before,
  [data-tooltip][data-flow="top"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #1148C6;
  }
  [data-tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow="top"]::after {
    bottom: calc(100% + 5px);
  }
  [data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow="top"]::before,
  [data-tooltip][data-flow="top"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -4px);
            transform: translate(-50%, -4px);
  }
  [data-tooltip][data-flow="bottom"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #1148C6;
  }
  [data-tooltip][data-flow="bottom"]::after {
    top: calc(100% + 5px);
  }
  [data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, 8px);
            transform: translate(-50%, 8px);
  }
  [data-tooltip][data-flow="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #1148C6;
    left: calc(0em - 5px);
    -webkit-transform: translate(-8px, -50%);
            transform: translate(-8px, -50%);
  }
  [data-tooltip][data-flow="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    -webkit-transform: translate(-8px, -50%);
            transform: translate(-8px, -50%);
  }
  [data-tooltip][data-flow="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #1148C6;
    right: calc(0em - 5px);
    -webkit-transform: translate(8px, -50%);
            transform: translate(8px, -50%);
  }
  [data-tooltip][data-flow="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    -webkit-transform: translate(8px, -50%);
            transform: translate(8px, -50%);
  }
  [data-tooltip=""]::after, [data-tooltip=""]::before {
    display: none !important;
  }



.tooltip-black{
  position: relative;
}
.tooltip-black-content:after{
  content: "";
  top: -9px;
  right: 28px;
  border: 7px solid transparent;
  border-top-width: 2px;
  border-bottom-color: #393939;
  z-index: 3;
  position: absolute;
}
.tooltip-black-content{
  position: absolute;
  min-width: 200px;
  top: 27px;
  right: -25px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #393939;
  font: 12px var(--font-primary);
  border-radius: 2px;
  position: absolute;
  z-index: 2;
  display: none;
}
.tooltip-black:hover .tooltip-black-content{
  display: block;
}



/*Tooltip Cash*/
.tooltip-main-list-dot span{
  white-space: pre;
}
.tooltip-cash{
  position: relative;
}

.tooltip-cash-content:after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #393939;
  position: absolute;
  left: -9px;
  top: 35px;
}

.tooltip-cash i:hover+.tooltip-cash-content{
  transform: scale(1);
  opacity: 1;
}
.tooltip-cash-content{
  position: absolute;
  top: -35px;
  right: -310px;
  background: #393939;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 2px;
  z-index: 4;
  transform: scale(0);
  transform-origin: left center;
  transition: all .3s ease;
  opacity: 0;
}
.tooltip-cash-top{
  
padding-bottom: 10px;
  
border-bottom: 1px solid #313334;
  
margin-bottom: 10px;
  
font: 14px var(--font-primary);
  
color: white;
}
.tooltip-cash-bottom{

display: flex;

flex-direction: column;
}
.tooltip-cash-row:last-child{
  margin-bottom: 0;
}
.tooltip-cash-row{
  
  display: flex;
    
  justify-content: space-between;
    
  color: #C2C7CC;
    
  font: 14px var(--font-primary);
    
  margin-bottom: 10px;
}


/*Tooltip analisis*/
.tooltip-analisis{
  /* position: relative; */
}
.tooltip-analisis-content:after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #393939;
  position: absolute;
  right: 159px;
  top: -4px;
}

.tooltip-analisis:hover .tooltip-analisis-content{
  transform: scale(1);
  opacity: 1;
}
.tooltip-analisis-content b{
  font-weight: bold;
}
.tooltip-analisis-content p{
   font: 13px var(--font-primary);
    color: white;
}
.tooltip-analisis-content{
  position: absolute;
  top: 35px;
  right: 0;
  background: #393939;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 2px;
  z-index: 4;
  transform: scale(0);
  transform-origin: top top;
  transition: all .3s ease;
  opacity: 0;
  text-transform: none;
}




.tooltip-main-text{
  font: 14px var(--font-primary-bold);
  color: var(--color-gray-bold);
  text-decoration: none;
}
.tooltip-main-left{
  justify-content: flex-start !important;
}
.tooltip-main{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.tooltip-main-info:after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;  
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #393939;
}


[data-tooltip-positiony="bottom"] .tooltip-main-info{
  top: 27px;
}
[data-tooltip-positiony="bottom"] .tooltip-main-info:after{
  top: -6px;
}

[data-tooltip-positiony="top"] .tooltip-main-info{
  bottom: 25px;
}
[data-tooltip-positiony="top"] .tooltip-main-info:after{
  bottom: -6px;
  transform: rotate(180deg);
}

[data-tooltip-positionx="left"] .tooltip-main-info:after{
  left: 5px;
}
[data-tooltip-positionx="left"] .tooltip-main-info{
  left: -5px;  
}



[data-tooltip-positionx="right"] .tooltip-main-info:after{
  right: 5px;
}

[data-tooltip-positionx="right"] .tooltip-main-info{
  right: -5px;
}


[data-tooltip-positionx="left"][data-tooltip-positiony="top"]  .tooltip-main-info{
  transform-origin: bottom left;
}
[data-tooltip-positionx="left"][data-tooltip-positiony="bottom"]  .tooltip-main-info{
  transform-origin: top left;
}
[data-tooltip-positionx="right"][data-tooltip-positiony="top"]  .tooltip-main-info{
  transform-origin: bottom right;
}
[data-tooltip-positionx="right"][data-tooltip-positiony="bottom"] .tooltip-main-info{
  transform-origin: top right;
}


.tooltip-main-info{
  background: #393939;
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  z-index: 2;
  transform: scale(0);
  transition: all .3s ease;
  opacity: 0;
  text-transform: none;
  width: auto;
}
.tooltip-main-info{

color: white;
}
.tooltip-main-title strong{
  font-weight: 600;
}
.tooltip-main-title{

text-align: left;

margin-bottom: 10px;

font: 15px var(--font-primary);

white-space: nowrap;
}
.tooltip-main-list{

width: 100%;
}
.tooltip-main-list-dot{

text-align: left;

font: 14px var(--font-primary-light);

min-width: 250px;

margin-bottom: 2px;

line-height: 18px;
}
[data-tooltip-size="big"] .tooltip-main-list-dot{
  white-space: nowrap;
}
[data-tooltip-size="small"] .tooltip-main-list-dot{
  white-space: normal;
}
.tooltip-main-content .icon{
  cursor: pointer;
  margin-left: 5px;
}

.tooltip-main-button:hover + .tooltip-main-content .tooltip-main-info,
.tooltip-main-content .icon:hover + .tooltip-main-info{
  opacity: 1;
  transform:scale(1);
}
.tooltip-main-content{
  position: relative;
  display: flex;
  align-items: center;
}


@media screen and  (max-width: 1279px){
 
  .tooltip-cash i{
    display: none;
  }
}



@media screen and (min-width: 701px) and (max-width: 1023px) {
  .tooltip-consulta{
    right: 0 !important;
    left: inherit !important;
  }
  [data-tooltip-positionx="left"] .tooltip-consulta:after{
    right: 0px !important;
    left: inherit !important;
  }
  [data-tooltip-positionx="left"][data-tooltip-positiony="top"] .tooltip-consulta{
    transform-origin: bottom right !important
  }
}
@media screen and  (max-width: 650px){

  .tooltip-main-title span{
    white-space: pre;
  }
  .tooltip-analisis-content{
    display: none;
  }
  .tooltip-main-info{
    max-width: calc(100vw - 30px);
  }
  .tooltip-consulta{
    width: 300px;
    max-width: 300px;
    left: -190px !important;
  }
  .tooltip-consulta:after{
    left: 196px !important;
  }

  .tooltip-main-list-dot,
  .tooltip-main-title{
      white-space: normal;
  }
  .tooltip-main-list-dot{
    margin-bottom: 10px
  }
}

@media screen and  (max-width: 400px){
  [data-tooltip-positionx="right"] .tooltip-main-list-dot{
    text-align: center;
    margin-bottom: 0
  }
  [data-tooltip-positionx="right"] .tooltip-main-info {
      right: -50px;
  }
}