/*
 * Init
 * @author mfyance
 */

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
button,
input,
i,
a {
    -webkit-font-smoothing: antialiased;
}
*,
*:active,
*:hover {
    outline: none !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
max-layout,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
center,
u,
b,
mark,
menu,
nav,
i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
    vertical-align: baseline;
    line-height: inherit;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    -ms-overflow-style: none;
}
a { text-decoration: none; }
a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: none !important;
}
q {
    quotes: none
}
q:before, q:after {
    content: '';
    content: none;
}
small {
    font-size: inherit;
}
nav ul ,
nav ol ,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
    line-height: normal;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    width: auto;
    -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle;
}
button,
input {
    *overflow: visible;
}
button { -webkit-appearance: button; }
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:focus,
a:hover,
a:active,
button:focus,
button:hover,
button:active {
    outline: none;
    text-decoration: none;
}
label,
select,
button,
[role="button"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
p,
form,
figure,
input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    padding: 0;
}
audio,
video {
    outline: none;
}
b,
strong {
    font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: inherit;
    font-weight: normal;
    line-height: normal;
    margin-top: 0;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="time"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none
}

svg:not(:root) {
    overflow: hidden
}

button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] {
    cursor: pointer; /* 3 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible; /* 4 */
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="search"] {
    /* 2 */
    box-sizing: content-box;
    -webkit-appearance: textfield; /* 1 */
    nowhitespace: afterproperty;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: #A8A8A8;
    font: 14px var(--font-primary);
}
:-moz-placeholder,
::-moz-placeholder {
    color: #A8A8A8;
    font: 14px var(--font-primary);
}
:-ms-input-placeholder {
    color: #A8A8A8;
    font: 14px var(--font-primary);
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fff inset;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}