/*
 * Font
 * @author mfyance
 */

@font-face {
  font-family: Inter;
   src: url(../../static/fonts/Inter-Regular.woff);
}

@font-face {
  font-family: Inter-Bold;
   src: url(../../static/fonts/Inter-Bold.woff);
}

@font-face {
  font-family: Inter-Semibold;
   src: url(../../static/fonts/Inter-SemiBold.woff);
}

@font-face {
  font-family: Inter-Light;
   src: url(../../static/fonts/Inter-Light.woff);
}

@font-face {
  font-family: Inter-Medium;
   src: url(../../static/fonts/Inter-Medium.woff);
}


/*Poppins*/
@font-face {
  font-family: Poppins;
   src: url(../../static/fonts/Poppins-Regular.woff);
}
@font-face {
  font-family: Poppins-Medium;
   src: url(../../static/fonts/Poppins-Medium.woff);
}
@font-face {
  font-family: Poppins-SemiBold;
   src: url(../../static/fonts/Poppins-SemiBold.woff);
}
